.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
.crousel-bar
{
    padding: 1em 5.3em;
    position: relative;
}
.crousel
{
    background: #fff!important;
    position: relative;
    margin-top: 2px;
}
.crousel h5
{
	font-size: 1.6em;
    border-bottom: 1px solid #ccc!important;
    padding: 10px 0px;
    font-family: 'SansPro-SB';
}
.crousel-section
{
	border:1px solid #ccc;
	padding:1em 1em 1em 13em;
    width: 48%;
    margin-left:20px;
}
.architects
{
	width: 80%;
    position:absolute;
    padding-left:7em;
    display: inline-block;
    top: 1.2em;
}
.architects span
{
	font-size:18px;
    display: inline-block;
    position: relative;
    color: #333c8d!important;
    font-family: 'SansPro-R';
}
.architects p
{
	 font-family: 'SansPro-R';
	 display: inline;
     padding-left: 8px;
}

.star
{
	font-size: 20px;
	color: #FFAE3F;
    padding-top: 4px;
    left:0;
}
.arch-title
{
	display: inline-block;
	padding-top:2px;
}

.architects img
{

    position: relative;
}
.arch-title a
{
	padding-left: 10px;
}
.arch-title span
{
	font-size: 15px;
    padding-left: 13px;
}

.icon h4
{
    display: inline-block;
    font-size: 1em;
    font-family: 'SansPro-SB';
    color: #616161;
}
.icon small
{
	padding-left:2em;
	font-family: 'SansPro-L';
    display: table;
    font-size: 14px;
}
.icon ul{
    display: table-row;
}
.icon ul li
{
	list-style-type: none;
	float: left;
	padding-left: 5px;
}
.icon ul li:nth-child(2)
{
    padding-left: 14px;
}
.icon ul li:nth-child(3)
{
    padding-left: 14px;
}
.icon ul li:nth-child(4)
{
    padding-left: 14px;
}
.icon ul li:nth-child(5)
{
    padding-left: 14px;
}
.icon ul li:nth-child(6)
{
    padding-left: 14px;
}
.left-control {
	background: #fff!important;
    /* right: -87em; */
    width: 82px;
    padding-top: 68px;
}
.left-control img
{
    margin-top: 113px;
}
.right-control {
	background: #fff!important;
    /* right: -87em; */
    width: 100px;
    padding-top: 68px;
}

.right-control img
{
   margin-top: 113px;  
}
.services-content1
{
    padding: 0px 13px;
}
.crousel-image span

{
left: -42px;
    top: 30px;
    position: relative;
    color: #fff;
}
