footer
{
	width: 100%;
	border-top: 5px solid #332785;
	background: #fff;
	padding-bottom: 2em;

}
.main-footer 
{
    padding: 2em 0em;
    position: relative;
    display: inline-block;
}
.main-footer  span
{
	text-align: left;
    padding-left: 2.6em;
    display: inline-block;
    text-transform: uppercase;
    color: #333c8d!important;
    font-weight: bold;
    font-family: 'SansPro-B';
}
.main-footer  ul
{    list-style-type: none;
    padding-top: 1em;
    position: relative;
}
.main-footer  ul li a
{
	color: #467ab9;
	text-decoration: blink;
	  font-family: 'SansPro-R';
}
.last-footer h5
{
	padding-left:1em;
	font-size:1.4em;
	color: #333c8d;
	text-transform: uppercase;
	font-family: 'SansPro-SB';
}
.last-footer ul
{
	list-style-type: none;
}
.last-footer ul i
{
	padding-right: 10px;
}
.address
{
	padding-top: 3em;
}
.address .address-content
{
	position: absolute;
    display: inline-flex;
    padding-left: 1em;
    font-family: 'SansPro-R';

}
.footer-aligenment
{
	padding-left:95px;
}
