.leftbar
{
	border:1px solid #ccc!important;
	background: #fff;
	position: relative;
	margin-top: 1em;
	padding: 1em 0em;
}
.view-phone
{
	border-bottom: 1px solid #ccc;
    padding: 1px 0px 15px 15px;
    position: relative;
}
.leftbar span{
	font-family: 'SansPro-B';
	color: #717171;
}
.leftbar button
{
	background: #21BE55;
    outline: none;
    font-size: 1.2em;
    border: none;
    color: #fff;
    padding: .5em 1em .5em 2em;
    margin-top: 1em;
    font-family: 'SansPro-R';
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20),0 2px 10px 0 rgba(0,0,0,0.12);
}
.leftbar i
{
	padding-right: 15px;
    font-size: 22px
}
.leftbar-address
{
	display: -webkit-box;
	padding-left: 10px;
	padding-top: 6px;
	padding-right: 10px;
}
.sub-add
{
	padding-left: 3px;
	font-family: 'SansPro-SB';
}
.sub-add span
{
	font-family: 'SansPro-SB';
	color: #7B7B7B;
}
.sub-add p
{
	font-family: 'SansPro-L';
	font-size: 12px;
	color: #A2A2A2;
	padding-right: 5em;
}
.sub-add a
{
	color: #45ABCE;
	font-family: 'SansPro-B';
}

.leftbar-address button
{
background: #fff;
    outline: none;
    border: 1px solid #A6A2C7;
    color: #A6A2C7;
    padding: .2em 3em .2em 3em;
    font-family: 'SansPro-R';
    box-shadow: 0px 0px #fff;
}