@media screen and (max-width: 480px)
{
	.header
	{
		height: 4em;
		width: 100%;
		background: #fff!important;
		box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}

	.list
	{
		position: absolute;
		width: 49%;
		display: inline;
		padding-top: 5px;
	}

	.mobile-logo i
	{
		font-size: 16px;
		top: 4px;
		 color: #3b2b8d;
		 position: relative;
		}

	.list ul
	{
		margin: 0;
		padding-left: 4px;
		padding-top: 5px;
	}
	.list ul li i
	{
		font-size: 16px;
    padding-left: 3px;
    color: #9a92c3;
    position: relative;
    vertical-align: super;
	}

	.list ul li
	{
    float: left;
    list-style-type: none;
    border-radius: 100%;
    border: 1px solid;
    width: 30px;
    margin-left: 4px;
    height: 30px;
    padding: 3px;
    border-color: #332785;
    position: relative;
}

.list ul li:first-child
{
	margin: 0px;
}

.list ul li img
{
	width: 19px;
	padding: 2px 2px 2px 4px;
}

.main-header img 
{
	width:45%;
}

.main-header
{
	margin: 0;
}
.main-header i
{
	margin:0;
	padding:0;
}

.search
{
	border:none;
}

.header-nav>li
{
	margin: 0em 1.5em 1em 1em;
	border-radius: 100%;
	width: 13%;
	float: left;
}

.submitsearch-box
{
	width: 40px;
	border-radius: 100%;
}

.crousel h5
{
	font-size: 1.6em;
	padding-left: 2px;
	font-family: 'SansPro-B';
}

.crousel-section
{
	width: 100%;
	margin: 0;
	padding-top: 0px;
}

.icon ul li
{
	/*float: left;
	padding-bottom: 10px;*/
	list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}


.icon ul li:nth-child(2)
{
	padding-left: 12px;
}

.icon ul li:nth-child(3)
{
	padding-left: 12px;
}

.icon ul li:nth-child(4)
{
	padding-left: 12px;
}

.icon ul li img
{
	width: 60px;
}

.architects span
{
	padding-top: 0em;
	font-size: 1.2em;
}

.profile-data button {
	margin-top: -21px;
}
.profile-data img
{
	display: inline-block;
    position: relative;
    margin-left: 3px;
    width: 92px;
}

.leftbar-address button
{
	padding: .2em 4em .2em 4em;
}

footer
{
	padding-bottom: 5em;
}

.services span
{
	padding-right: 45px;
	position: relative;
}

.services h4
{
	font-size: 14px;
	display: inline-block;
	top: 2px;
	font-family: 'SansPro-SB';
}
.services
{
	padding: 5px 5px 10px 10px;
}

.services li:nth-child(2) {
	padding-left: 7px;
}


.services li:nth-child(5) {
	padding-left: 7px;
}

.services li:nth-child(6) {
	padding-left: 7px;
	padding-top: 5px;
}
.services li
{
	float: left;
}
.services p{
	position: relative;
	display: inline-block;
	padding:0px;
}

.services small {
	padding-left: 0px;
	font-size: 15px;
}

.overview h5{
	font-size: 20px;
}
.input-form{
	width: 100%;
   margin: 1em 0em 0em 0em;
}
.past-project li{
	padding-left: 5px;
}
.past-project li:nth-child(2){
	padding-left: 35px;
}
.past-project li:nth-child(3){
	padding-left: 50px;
}

.past-project li:nth-child(4)
{
	padding-left: 5px;
	padding-top: 8px;
}
.past-project li:nth-child(5){
	padding-left: 50px;
	padding-top: 8px;
}
.past-project li:nth-child(6){
	padding-left: 35px;
	padding-top: 8px;
}
.profile-view{
	width: 60%;
	padding-left: 7px;
}
.profile-view p{
	padding-right: 54px;
}
.profile
{
	background-repeat: no-repeat;
	background-size: 100% 85%;
	height: 212px;
	padding-top: 100px;
}


.company-name
{
	font-size: 13px;
	display: inline;
	width: 52%;
	position: absolute;
	top: 95px
}
.company-name span {
	font-size: 15px;
    position: relative;
    display: block;
    font-family: 'SansPro-SB';
}
.company-name img
{
	width: 15px;
    padding-left: 0px;
}
.boxes
{
	width: 80%;
}
.overview
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 0px;
}
.past-project
{
	display: table-row;
}
.review1
{
	padding: 0px 5px;
}
.review
{
	padding-top: 5px;
}
.showmore
{
	border-top: 1px solid #ccc;
	padding: 8px 0px 30px 74px;
	height: 16px;
}
.media-h5
{
	font-size: 24px;
	padding: 0px 30px 20px 30px;
}
.view-phone{
	border:none;
	padding: 1px 0px 6px 10px;
}
.leftbar-address
{
	padding-top: 0px;
}
.portfolio {
	margin-left: 14px;
	margin-right: 12px;
}
.title
{
	font-size: 14px;
	position: absolute;
	width: 12em;
}
.title small
{
	font-size: 10px;
}
.crousel-bar
{
	padding: 0px;
}
.architects
{
	width: 100%;
	padding-left: 6.8em;
	display: inline-block;
	top: 1px;
}
.arch-title {
	padding-top: 5px;
	position: relative;
}
.arch-title span
{
	font-size: 1em;
	display: inline-block;
	padding-left: 4px;
	color: #666666!important;
}
.star {
	font-size: 15px;
	padding-top: 0px;
	padding-left: 4px;
	display: inline-block;
}
.architects p {
	padding-left:0px;
}
.crousel-section1
{
	margin-top: 10px;
}
.form1
{
	padding-top: 10em;
    padding-bottom: 16px;
}
.input-form input
{
	padding: 0.6em 0em 0.6em 0em;
	margin-left: 15px;

}
.form button
{
	
	padding: 10px 92px 10px 94px;
	margin-top: 15px;
}
.residency-image
{
	list-style-type:none;
	position: relative; 
	margin: 0;
	padding:0;
	display: inline-block;
	padding-top: 15px;
}
.residency-image li
{
	float: left;
	position: relative;
	display: inline-block;
	margin-left: 15px;
}
.residency-image li:first-child
{
	margin: 0px;
}
.residency-image li:last-child
{
	padding-left: 0px;
}

.service li img
{
	width: 50px;
	padding-left: 0px;
}
.overlay
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.60);
	height:95%;
}
.residency-image li img
{
	width: 70px;
}
.residency-image li a
{
	/*text-decoration:none;
    color:#fff;
    font-size: 18px;
    padding: 0px 18px 7px 14px;*/
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 13px 18px 7px 17px;
}


.mobile-header
{
	list-style-type: none;
	position: relative;
}
.mobile-header li
{
	float: left;
}
.profile-image
{
	padding: 8px 9px 0px 7px;
}
.custombtn
{
	padding: 0em 20.5em;
    top: 0px;
    position: relative;
}
.custombtn img
{
	width: 65px;
	position: relative;
    top: -35px;
}
.profile-star 
{
	color:#FFAE3F!important;
	font-size: 15px;
    padding-right: 7px;
}
.services-content1 {
	padding: 0px 0px;
}
.add-review{
	float: right;
	padding: 0px;
	color: #554e91;
	margin-right:15px;
}
.report {
	margin-top: -25px;
    position: relative;
}
.report a
{
	padding-left: 10px;
}
.services-content {
	padding: 0px 9px;
}
.profile-position
{
	padding-top: 8px;
}
.profile-postion table th {
	font-family: 'SansPro-L';
	width: 40%;
	line-height: 1;
	padding: 0.2em 0em;
}
.archtect-content small
{
	color: #000;
	font-family: 'SansPro-B';
}
.counsels
{
	margin-bottom: 8px;
}
.icon h4
{
	display: inline;
	font-size: 1em;
	font-family: 'SansPro-SB';
	color: #616161;
	position: relative;
}
.past1 h4
{
	top: 5px;
    position: relative;
    display: inline-block;
}
..leftbar span
{
	font-family: 'SansPro-B';
    color: #717171;
    font-size: 16px;
}
.map
{
	width: 100%;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.newsimage {
    width: 81%;
    margin-bottom: -171px;
    margin-top: -40px;
    padding-left: 50px;
}
.servces-quanterm h4
{
position: relative;
    top: -1px;
}
}