.profile-image{
	background: #fff;
	padding: 20px 20px 46px 20px;
	margin:17px 0px;
	border:1px solid #ccc;
}
.profile
{
   background-image: url('../images/profile-image.png');
  /*width: 80%;*/
  height: 150px;
  position: relative;
  /*z-index: 152;*/
  /*border:1px solid;*/
  padding-top: 75px;
}
.report
{
	font-family: 'OpenSans-B';
	    font-size: 13px;
    margin-top: 9px;
}


.company-name{
	color:#E2E3E3;
	font-size: 1.2em;
}

.company-name span{
	font-size: 0.6em;
}
.company-name span:nth-child(3){
	padding-left: 4em;
}
.profile-star{
	color: #fff;
}
.profile-data{
	/*position: relative;*/
}
.profile-data img,.profile-data div{
	display: inline-block;
	padding: 0px 5px 0px 0px;
	vertical-align: table;
}

.custombtn{
	border:none;
	color: #000;
	font-size: 0.7em;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.25em 37em;
	outline: none;
}

.profile-data button{
	float: right;
	margin-right: 20px;
	margin-top: 40px;
}

a,a:hover,a:focus{
	color: #332785;
	text-decoration: none;
}

/*Tabs*/

.menu-tabs{
    width: 100%;
    position: relative;
    display: table-row;
}
.menu-tabs li{
	list-style: none;
	width: 20%;
	text-align: center;
	background: #fff;
	border-right:1px solid #ddd;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:15px;
	float: left;
}
.menu-tabs li:nth-child(1){
	border-left:1px solid #ddd;
}

.menu-tabs li a{
	width:100%; 
	padding:45px;
	color: #aaa;
}
.menu-tabs li.active{
	border-top:3px solid #332785;
	padding-top: 13px;
}
.menu-tabs li.active a{
	color: #332785;
}
/*Tabs*/
.services
{
	 /* padding-left: 1.2em;
	  padding-bottom: .5em;*/
	  padding: 5px 5px 10px 14px;
	  border-top:1px solid #ccc;

}

.services span
{
	  padding-left:1px;
	  font-family: 'SansPro-SB';
	  position: absolute;
	  padding-top: 1px;
}
.services h4
{
	display: inline-block;
    position: relative;
    font-size: 14px;
    top: 2px;
}
.list-item
{
	display: table-row;

}
.services small
{
    display: table;
    font-size: 1em;
    font-family: 'SansPro-L';
    padding-left: 2px;
}
.services li
{
list-style-type: none;
float:left;
color: #9E9E9E;
font-size: 13px;
font-family: 'SansPro-L';
padding-left: 5px;
}
.services li:nth-child(2)
{
	padding-left: 25px;
}
.services li:nth-child(3)
{
	padding-left: 25px;
}
.services li:nth-child(4)
{
	padding-left: 25px;
}
.services li:nth-child(5)
{
	padding-left: 25px;
}
.services li:nth-child(6)
{
	padding-left: 25px;
}
.services li img
{
width: 45px;
}
.services li a
{
	font-family: 'OpenSans-R';
}
.services li i
{
	color: #1FBF55;
}
.overview
{
	background: #fff;
    padding-bottom:15px;
    margin: 19px 0px;
   border:1px solid #ccc;
   padding: 0px 0px 20px 0px;
}
.services-content
{
	padding: 5px 10px;
}
.services-content h5
{
	font-size: 1.2em;
	display: inline-block;
    padding-left:4px;;
    font-family: 'SansPro-SB';
    color: #666666;

}
.services p
{
	font-size: 14px;
    padding-left: 5px;
    color: #9D9D9D!important;
    font-family: 'SansPro-L';
}
.residences-content
{
	font-size: 14px;
    padding-right:30%;
    color: #9D9D9D;
    font-family: 'SansPro-L';
}
.counsiles-title
{
	display: inline-block;
	position: absolute;
	padding-left: 15px;
}
.counsiles-title span
{
	display: inline-block;
    position: relative;
    padding-left: 2px;
}
.past-project{
	padding-bottom: 55px;
}
.past-project li
{
	list-style-type: none;
}
.past-project li figcaption
{
	text-align: center;
}

.past-project li:nth-child(2)
{
	padding-left: 4em;
}
.past-project li:nth-child(3)
{
	padding-left: 4em;
}
.past-project li:nth-child(4)
{
	padding-left: 6em;
}
.past-project li:nth-child(5)
{
	padding-left: 6em;
}
.past-project li:nth-child(6)
{
	padding-left: 6em;
}
.profile-view
{
	display: inline-block;
    width: 36%;
    padding-left: 19px;
    position:absolute;
}
.profile-view p
{
	font-family: 'SansPro-L';
	padding-right: 30px;
}
.small-tag
{
	display: table;
    padding-left: 8em;
    font-size: 1em;
}

#view
{
	    top: -30px;
    position: relative
}
.portfoli-content
{
	padding-right: 6em;
}
.protfolio li img
{
    width: 100%;
    border: 1px solid;
    border-color: rgb( 204, 204, 204 );
    background-color: rgb( 255, 255, 255 );
    left: 83px;
    z-index: 269;
}

.input-form 
{
	    border: none;
    outline: none;
    background: #f3f3f3;
    width: 32%;
    padding: 3px 0px;
    display: inline-block;
    margin: 1em;
}
.input-form input
{
	    border: none;
    background: #f3f3f3;
 padding: 10px 0px 7px 50px;

}
.input-form i
{
	 padding-left: 13px;
    font-size: 20px;
    color: #999999;
}
.form
{
	padding-top:21px;
	position: relative;
}
.form h5
{
	font-size: 2.5em;
	font-family: 'SansPro-B';
	color:#0366CC;
}
.form button
{
	    padding: 0.6em 5em;
}
.newsimage{
   width: 81%;
    margin-bottom: -165px;
    margin-top: -31px;
}
.add-review
{
	float: right;
    padding: 0px;
    margin-top: -29px;
    color: #554e91;
    margin-right: 50px;
}

.review p
{
padding-left: 2px;
font-family: 'SansPro-L';
}
.review small
{
	font-family: 'SansPro-L';
	color: #ADADAD;
}
.review i
{
	color: #FFAE3F;;
}
.arch
{
	padding-left: 100px;
}
.boxes
{
	border: 1px solid;
    width: 14%;
    height: 160px;
    position: relative;
    display: inline-table;
    margin-left: 8px;
}
.boxes1
{
	border: 1px solid;
    width: 14%;
    height: 160px;
    position: relative;
    display: inline-table;
    margin-left: 25px;
}

.title{
	display: inline-block;
	position: absolute;
	padding-bottom: 10px;
	padding-top: 8px;
	width: 25%;
}
.title
{
	font-size: 12px;
}
.title small
{
	font-size: 10px;
	position: relative;
}

#map
{
    width: 100%;
    height: 250px;
}
.onlinechat
{
	right: 88px;
    width: 280px;
    border: 1px solid;
    background: #ccc;
}
.service
{
	border-top: 1px solid #ccc;
}
.service small
{
	font-family: 'SansPro-L';
	font-size: 15px;
}
.counsels img
{
 border:1px solid #ccc;
 padding: 10px 5px;
 width: 55px;
}
.counsels-detail
{
	display: inline-block;
}
.profile-postion
{
	    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 2em;
}
.profile-postion ul
{
	list-style-type: none;
display: inline;
	padding-bottom: 10px;
	padding-top: 8px;

}
.profile-postion ul li
{
	    font-size: 12px;
 
}
.profile-postion ul li small
{
	display: inline-block;
	padding-left: 4em;
	font-family: 'SansPro-L';
	position: relative;
}
.profile-postion table
{
	margin-top: 5px;
}
.profile-postion table th
{
	font-family: 'SansPro-L';
}
.profile-postion table td small
{
	font-family: 'SansPro-L';
}
.residency img
{
	width: 50px;
}
.onlinechat-bar
{
	top: 95%;
    right:20px;
    width: 25%;
    float: right;
    position: fixed;
    border: 1px solid;
    background: #DDDDDD;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px ;
    border-color: #59B95D;
}

.onlinechat-bar button
{
	background: #DDDDDD;
	color: #59B95D;
	font-family: 'SansPro-SB';
	font-size: 20px;
	outline: none;
	width: 100%;
	padding-right: 16em;
	}
.onlinechat-bar .caret
{
	margin-left: 8em;
	font-size: 20px;
}

.onlinechat-bar button span
{
	margin-left: 20em;
}
.archtect-content span
{
  font-family: 'SansPro-L';
}

.portfolio
{
	margin-left:28px;
}