/*@import url('/css/stylesheet.css');*/
@import url('../css/header.css');
@import url('../css/profile.css');
@import url('../css/footer.css');
@import url('../css/crousel.css');
@import url('../css/mainmenu.css');
@import url('../fonts/stylesheet.css');
body
{
	background:#F5F5F5!important;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}