<div class="overview">
	<div class="services-content" style="border-bottom:1px solid #ccc;"><h5>Profile</h5></div>
	<div class="row">
		<div class="col-sm-6 profile-postion" ng-init="profile='images/vikas.png'">
			<img src="{{profile}}" width="100">
			<div class="profile-view">
				<span>Vikas Pandit</span>
				<p>Principal Architect +91-8800 278211 mailme.justdoit@gmail.com</p>
			</div>
		</div>
		<div class="col-sm-6 profile-postion" ng-init="profile='images/vikas.png'">
			<span>Education</span>
			
				<table  width="100%" class="hidden-xs">
			         <tr >
						<th>B.Arch</th>
						<td><small>SALD, S.M.V.D.U.- J&K</small></td>
					</tr>
					<tr>
						<th>M.Des</th>
						<td><small>IIT Delhi</small></td>
					</tr>
					<tr>
						<th>Total.Exp</th>
						<td><small>20 years</small></td>
					</tr>
					<tr>
						<th>Corporate.Exp</th>
						<td><small>10 years</small></td>
					</tr>
				</table>

				<table  width="100%" class="hidden-md hidden-sm hidden-lg">
					<tr>
						<th>B.Arch</th>
						<td><small>SALD, S.M.V.D.U.- J&K</small></td>
					</tr>
					<tr>
						<th>M.Des</th>
						<td><small>IIT Delhi</small></td>
					</tr>
					<tr>
						<th>Other</th>
						<td><small>NIL</small></td>
					</tr>
					<tr>
						<th>Experience</th>
						<td><small>12 years</small></td>
					</tr>
					<tr>
						<th>Corporate Experience</th>
						<td><small>12 years</small></td>
					</tr>
				</table>
			
		</div>
	</div>
	<div class="services" ng-init="service5='images/h.png'">
		<img src="{{service5}}" width="22"><h4>Bio</h4>
		<p>{{data.professional.adescription}}
		</p>
	</div>

	<div class="services" ng-init="service6='images/i.png'">
		<img src="{{service6}}" width="22"><h4>Affiliations</h4>
		<div class="row">
			<div class="col-sm-4 counsels" ng-init="affliations='images/ca.png'">
				<img src="{{ affliations}}">
				<div class="counsiles-title">
					<span>Council of Architecture </span>
					<small>Delhi</small>
				</div>
			</div>
			<div class="col-sm-4 counsels" ng-init="affliations1='images/ca.png'">
				<img src="{{ affliations1}}">
				<div class="counsiles-title">
					<span>Council of Architecture </span>
					<small>Delhi</small>
				</div>
			</div>
			<div class="col-sm-4 counsels hidden-xs" ng-init="affliations2='images/ca.png'">
				<img src="{{ affliations2}}">
				<div class="counsiles-title">
					<span>Council of Architecture </span>
					<small>Delhi</small>
				</div>
			</div>
		</div>
	</div>
</div>
