  <div class="overview ">
  	  <div class="services-content"><h5>About the company</h5></div>
  	    <div class="services">
  		    <p>{{data.professional.description}}
          </p>
  	    </div>
  	   <div class="services" ng-init="service8='images/j.png'">
  		 <img src="{{service8}}"><h4>Staff of workforce</h4>
  		   <div class="row">
  			   <div class="col-sm-6 archtect-content">
  				 <span>Number of Architects, draftsmen & designers</span><br>
  				 <small>23</small>
  			   </div>
      
  			    <div class="col-sm-6 archtect-content hidden-xs">
  				  <span>Number of labor,mason and chief mason</span><br>
  				  <small>23</small>
  			   </div>
            <div class="col-sm-6 archtect-content hidden-md hidden-sm hidden-lg">
            <span>Number of labor,mason and chief mason</span><br>
            <small>67</small>
           </div>
  		   </div>
  	   </div>
   </div>
