<section class="crousel">
	<div class="container-fluid">
		<div class="row crousel-bar no-gutter">
			<div class="col-sm-12 col-md-12">
				<div class="services-content1">
				  <h5>Other Architects in your area</h5>
				</div>
				<div id="newslider" class="carousel slide" data-ride="carousel" data-interval="false">
						<ol class="carousel-indicators hidden-xs">
							<li data-target="#newslider" data-slide-to="0" class="active"></li>
							<li data-target="#newslider" data-slide-to="1"></li>
							<li data-target="#newslider" data-slide-to="2"></li>
							<li data-target="#newslider" data-slide-to="3"></li>
						</ol>

					<div class="carousel-inner" role="listbox">
					   <div class="item active col-sm-12">
							<div  class="col-sm-6 crousel-section mobile-section">
								<div class="crousel-image" ng-init="
									crousel='images/1.png'">
									<img ng-src="{{crousel}}" width="90px">
									<span>+12</span>
							    </div>
									<div class="architects">
										<span>{{data.professional.mainCategory}}</span>
										<div class="col-xs-12 arch-title">
											<i class="fa fa-star star"></i> 
											<span>4.5</span> 
											<a href="#">
												<img ng-src="images/verified.png" width="58px"></a>
										</div>
											<div class="col-xs-12 arch-title">
												<img src="images/marker.png">
												<p>3.5 Kms from you</p>
											</div>
									</div>


								<div class="icon" ng-init="icon='images/icon1.png'" >
									<img src="{{icon}}">
									<h4>Services Provided</h4>
									<small>Cement, Steel TMT, Bricks & Blocks, Paints, Tiles, Sanitary ware</small>
								</div>

								<div class="icon" ng-init="icon1='images/icon2.png'" >
									<img src="{{icon1}}">
									<h4>Minimum project budget</h4>
									<small>Rs. 50 Lakhs</small>
								</div>

								<div class="icon" ng-init="icon2='images/icon3.png'" >
									<img src="{{icon2}}">
									<h4>Past Projects</h4><br>
									<ul ng-repeat="x in data">
									<li><a href=""><img src="{{x.pastProjects}}"></a></li>

										<!-- <li ng-class=><a href="#" ng-init="project1='images/2.png'"><img ng-src="{{project1}}"></a></li>
										<li><a href="#" ng-init="project2='images/3.png'"><img ng-src="{{project2}}"></a></li>
										<li><a href="#" ng-init="project3='images/4.png'"><img ng-src="{{project3}}"></a></li>
										<li><a href="#" ng-init="project4='images/5.png'"><img ng-src="{{project4}}"></a></li>
										<li class="hidden-xs"><a href="#" ng-init="project5='images/6.png'"><img ng-src="{{project5}}"></a></li>
										<li class="hidden-xs"><a href="#" ng-init="project6='images/7.png'"><img ng-src="{{project6}}"></a></li> -->
									</ul>
								</div>
							</div>

							<div  class="col-sm-6 crousel-section crousel-section1 mobile-section">
									<div class="crousel-image" ng-init="
										crousel='images/1.png'">
										<img ng-src="{{crousel}}" width="90px">
										<span>+12</span>
								   </div>
							
										<div class="architects">
											<span>{{data.professional.mainCategory}}</span>
											<div class="col-xs-12 arch-title">
												<i class="fa fa-star star"></i> 
												<span>4.5</span> 
												<a href="#"><img ng-src="images/verified.png" width="58"></a>
											</div>
												<div class="col-xs-12 arch-title">
													<img src="images/marker.png">
													<p>3.5 Kms from you</p>
												</div>
											</div>

											<div class="icon" ng-init="icon='images/icon1.png'" >
												<img src="{{icon}}">
												<h4>Services Provided</h4><br>
												<small>Cement, Steel TMT, Bricks & Blocks, Paints, Tiles, Sanitary ware</small>
											</div>

												<div class="icon" ng-init="icon1='images/icon2.png'" >
													<img src="{{icon1}}">
													<h4>Minimum project budget</h4>
													<small>Rs. 50 Lakhs</small>
												</div>

											<div class="icon" ng-init="icon2='images/icon3.png'" >
												<img src="{{icon2}}">
												<h4>Past Projects</h4>
												<ul ng-repeat="x in data">
									              <li><a href=""><img src="{{x.pastProjects}}"></a></li>
											
												</ul>
											</div>
							   </div>
					  </div>
					  
						<div class="item  col-sm-12">
							<div  class="col-sm-6 crousel-section mobile-section">
								<div class="crousel-image" ng-init="crousel='images/1.png'">
									<img ng-src="{{crousel}}" width="90px">
									<span>+12</span>
								</div>
								
								<div class="architects">
									<span>{{data.professional.mainCategory}}</span>
									<div class="col-xs-12 arch-title">
										<i class="fa fa-star star"></i> 
										<span>4.5</span> 
										<a href="#">
											<img ng-src="images/verified.png" width="85"></a>
										</div>
										<div class="col-xs-12 arch-title">
											<img src="images/marker.png">
											<p>3.5 Kms from you</p>
										</div>
									</div>

									<div class="icon" ng-init="icon='images/icon1.png'" >
										<img src="{{icon}}">
										<h4>Services Provided</h4><br>
										<small>Cement, Steel TMT, Bricks & Blocks, Paints, Tiles, Sanitryware</small>
									</div>
									<div class="icon" ng-init="icon1='images/icon2.png'" >
										<img src="{{icon1}}">
										<h4>Minimum project budget</h4>
										<small>Rs. 50 Lakhs</small>
									</div>
									<div class="icon" ng-init="icon2='images/icon3.png'" >
										<img src="{{icon2}}">
										<h4>Past Projects</h4>
										<ul ng-repeat="x in data">
									   <li><a href=""><img src="{{x.pastProjects}}"></a></li>
										
											<!-- <li><a href="#" ng-init="project1='images/2.png'"><img ng-src="{{project1}}"></a></li>
											<li><a href="#" ng-init="project2='images/3.png'"><img ng-src="{{project2}}"></a></li>
											<li><a href="#" ng-init="project3='images/4.png'"><img ng-src="{{project3}}"></a></li>
											<li><a href="#" ng-init="project4='images/5.png'"><img ng-src="{{project4}}"></a></li>
											<li><a href="#" ng-init="project5='images/6.png'"><img ng-src="{{project5}}"></a></li>
											<li><a href="#" ng-init="project6='images/7.png'"><img ng-src="{{project6}}"></a></li> -->
										</ul>
									</div>
								</div>

								<div  class="col-sm-6 crousel-section mobile-section" >
									<div class="crousel-image" ng-init="
									crousel='images/1.png'">
									<img ng-src="{{crousel}}" width="90">
									<span>+12</span>
								</div>
								
								<div class="architects">
									<span>{{data.professional.mainCategory}}</span>
									<div class="col-xs-12 arch-title">
										<i class="fa fa-star star"></i> 
										<span>4.5</span> 
										<a href="#">
											<img ng-src="images/verified.png" width="85"></a>
										</div>
										<div class="col-xs-12 arch-title">
											<i class="fa fa-map-marker"></i>
											<p>3.5 Kms from you</p>
										</div>
									</div>

									<div class="icon" ng-init="icon='images/icon1.png'" >
										<img src="{{icon}}">
										<h4>Services Provided</h4><br>
										<small>Cement, Steel TMT, Bricks & Blocks, Paints, Tiles, Sanitary ware</small>
									</div>
									<div class="icon" ng-init="icon1='images/icon2.png'" >
										<img src="{{icon1}}">
										<h4>Minimum project budget</h4>
										<small>Rs. 50 Lakhs</small>
									</div>
									<div class="icon" ng-init="icon2='images/icon3.png'" >
										<img src="{{icon2}}">
										<h4>Past Projects</h4>
										<ul ng-repeat="x in data">
									      <li><a href=""><img src="{{x.pastProjects}}"></a></li>											<!-- <li><a href="#" ng-init="project1='images/2.png'"><img ng-src="{{project1}}"></a></li>
											<li><a href="#" ng-init="project2='images/3.png'"><img ng-src="{{project2}}"></a></li>
											<li><a href="#" ng-init="project3='images/4.png'"><img ng-src="{{project3}}"></a></li>
											<li><a href="#" ng-init="project4='images/5.png'"><img ng-src="{{project4}}"></a></li>
											<li><a href="#" ng-init="project5='images/6.png'"><img ng-src="{{project5}}"></a></li>
											<li><a href="#" ng-init="project6='images/7.png'"><img ng-src="{{project6}}"></a></li> -->
										</ul>
									</div>
								</div>

							</div>
						</div>
						</div>
					</div>
				<a class="left carousel-control left-control hidden-xs" href="#newslider" role="button" data-slide="prev">
					<!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
					<img src="images/left-arrow.png">
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control right-control  hidden-xs" href="#newslider" role="button" data-slide="next">
					<!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
					<img src="images/right-arrow.png">
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>