     <div class="container " >
     	<div class="row">
     		<div class="col-sm-9 col-md-9 ">
     			<div ng-include="'profile.html'"></div>
     			<div ng-include="'overview.html'"></div>
     			<div ng-include="'about.html'"></div>
     			<div ng-include="'aboutcompany.html'"></div>
     		</div>
     		<div class="col-sm-3 col-md-3">
     			<div ng-include="'rightbar.html'"></div>
     		</div> 
     	</div>
     </div>