		<div class="overview">
			 <div class="services-content"><h5>Overview</h5></div>
					<div class="services" ng-init="service='images/icon1.png'">
						<img src="{{service}}"><h4>Services Provided</h4>
						<ul class="list-item" ng-controller="servicesProvides">
						<li ng-repeat="services in design"><i class="fa fa-check-circle "></i> {{services}}</li>
							<!-- <li ng-repeat="services in design"><i class="fa fa-check-circle "></i> Planning & layout</li>
							<li><i class="fa fa-check-circle "></i> Interior design</li>
							<li class="hidden-xs"><i class="fa fa-check-circle "></i> Costing & Estimation BOQ</li>
							<li class="hidden-xs"><i class="fa fa-check-circle "></i> Landscape design</li>
							<li><i class="fa fa-check-circle "></i> Site visit</li>
							<li ><i class="fa fa-check-circle "></i> Structural design</li> -->
						</ul>
					</div>

					<div class="services " >
						<div class="service-subheading servces-quanterm" ng-init="service1='images/icon2.png'">
							<img src="{{service1}}"><h4>Quotation Terms</h4>
						</div>
						<p>{{data.professional.description}} </p>
						<div class="row">
							<div class="col-sm-4">
								<span>Minimum project budget</span><br>
								<small>Rs. 50 Lakhs</small>
							</div>
							<div class="col-sm-4">
								<span>Advance Payment</span><br>
								<small>{{data.professional.advancePayment}}</small>
							</div>
							<div class="col-sm-4 hidden-xs" style="padding-left:65px;" >
								<span>Site charges</span><br>
								<small>Yes</small>
							</div>
						</div>
					</div>
					
						<div class="services past1" ng-init="service7='images/g.png'">
							<img src="{{service7}}" ><h4 >Past Projects</h4>
							<ul class="past-project">
								<li ng-init="past='images/f.png'">{{data.professional.pastProjects}}<!-- <img src="{{past}}"><figcaption>Residential</figcaption> --></li>
								<li ng-init="past1='images/e.png'">{{data.professional.pastProjects}}<!-- <img src="{{past1}}"><figcaption>Housing</figcaption> --></li>
							<!-- 	<li ng-init="past2='images/d.png'"><img src="{{past2}}"><figcaption>Commercial</figcaption></li>
								<li ng-init="past3='images/c.png'"><img src="{{past3}}"><figcaption>Retail</figcaption></li>
								<li ng-init="past4='images/b.png'"><img src="{{past4}}"><figcaption>Hospitiality</figcaption></li>
								<li ng-init="past5='images/a.png'"><img src="{{past5}}"><figcaption>Institutional</figcaption></li> -->

							</ul>
						</div>
		</div>