    <section class=" portfolio" >
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12 col-md-12 overview">
        				<div class="services-content"><h5>Portfolio</h5>
        				</div>

        				<div class="services" ng-init="past='images/f.png'">
            					<div class="residency">
            						<img src="{{past}}">
            						<div class="title">
            							<span>KL House</span><br>
            							<small>Meerut, Residence</small>
            						</div>
            					</div>
                                <p class="residences-content">Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum, Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum.</p>

        					<ul class="residency-image hidden-md hidden-sm hidden-lg">
        						<li><img src="images/2.png"></li>
        						<li><img src="images/2.png"></li>
        						<li ><img src="images/3.png"><div class="overlay"><a href="#">+12 more</a></div></li>
        					</ul>
        					
        					<div class="boxes hidden-xs "></div>
        					<div class="boxes1 hidden-xs "></div>
        					<div class="boxes1  hidden-xs"></div>
        					<div class="boxes1 hidden-xs"></div>
        					<div class="boxes1 hidden-xs "></div>
        					<div class="boxes1 hidden-xs "></div>
        				</div>

                        <div class="services" ng-init="past3='images/c.png'">
                               <div class="residency">
                                  <img src="{{past3}}">
                                  <div class="title">
                                     <span>Alcott showroom</span><br>
                                     <small>Meerut, Commercial</small>
                                 </div>
                                </div>
                                   <p class="residences-content hidden-md hidden-sm hidden-lg">Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum, Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum</p>
                                         <ul class="residency-image hidden-md hidden-sm hidden-lg">
                                              <li><img src="images/2.png"></li>
                                              <li><img src="images/2.png"></li>
                                              <li><img src="images/3.png"><div class="overlay"><a href="#">+12 more</a></div></li>
                                          </ul>
                                              <div class="boxes hidden-xs"></div>
                                              <div class="boxes1 hidden-xs"></div>
                                              <div class="boxes1 hidden-xs"></div>
                                              <div class="boxes1 hidden-xs"></div>
                                              <div class="boxes1 hidden-xs"></div>
                                              <div class="boxes1 hidden-xs"></div>
                       </div>
    			</div>
    		</div>
    	</div>
    </section>