<div class="container-fluid  hidden-xs">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ul class="product-list">
				<li><a href="#">Products</a> <i class="fa fa-chevron-right"></i></li>
				<li><a href="#">Cement Shops</a><i class="fa fa-chevron-right"></i></li>
				<li><a href="#">vardhman cement</a></li>
			</ul>
		</div>
	</div>
</div>