      <div class="profile-image ">
          <div class="profile">
               <div class="profile-data">
                   <img ng-src="images/arch.png" width="120px" class="hidden-xs" >
                    <img ng-src="images/dp.png"  class="hidden-md hidden-sm hidden-lg" >
                        <div class="company-name hidden-xs">{{data.professional.name}}<br>
                          <span> <img ng-src="images/marker2.png">{{data.professional.address.city}}</span>
                          <span><i class="fa fa-star fa-lg profile-star" > 4.5</i></span>
                        </div>
                          <div class="company-name hidden-md hidden-sm hidden-lg">
                             <span>Architects and archi studio pvt ltd</span>
                             <small> <img ng-src="images/marker2.png">    Gurgaon</small><br>
                             <p><i class="fa fa-star fa-lg profile-star" ></i> 4.5</p>
                          </div>
                 <a href="#" class="custombtn"><img ng-src="images/verified.png"> </a>
             </div>
          </div>
           <div class="pull-right report" ><a href="#">Claim this listing </a> <a href="#"> Report</a></div>
      </div>

   <ul class="menu-tabs hidden-xs">
    <li class="active"><a href="#overview" class="scroll">Overview</a></li>
    <li><a href="homedesign/index.html" target="_blank" class="scroll">Profile</a></li>
    <li><a href="homedetails/index.html" target="_blank" >About</a></li>
    <li><a href="interior/index.html" target="_blank" >Portfolio</a></li>
    <li><a href="#review">Reviews</a></li>
  </ul>
