                 <section class="review1 portfolio" >
                 	<div class="container">
                 		<div class="row">
                 			<div class="col-sm-12 col-md-12 overview">
                 				<div class="col-sm-3 col-md-3">
                 					<img ng-src="images/image.png" class="newsimage hidden-xs">
                 				</div>
                 				<div class="col-sm-9 col-md-9 form">
                 					<h5 class="media-h5">Book a consultation with this designer</h5>
                 					<img ng-src="images/image.png" class="newsimage hidden-lg hidden-sm hidden-md">
                 					<form class="form-inline form1">
                 						<div class="input-form " ><i class="glyphicon glyphicon-user"></i>
                 							<input type="text" ng-model="name" placeholder="Your Name"></div>
                 							<div class="input-form " ><i class="fa fa-mobile"></i>
                 								<input type="text" ng-model="name" placeholder="Mobile Number"></div>
                 								<button type="submit" class="btn btn-success">Book Now</button>
                 							</form>
                 						</div>
                 					</div>
                 				</div>
                 			</div>
                 		</section>

                 		<section class="review1 portfolio">
                 			<div class="container">
                 				<div class="row">
                 					<div class="col-sm-12 col-md-12 overview">
                 						<div class="services-content">
                 							<img ng-src="images/right.png">
                 							<h5>Reviews</h5>
                 						</div>

                 						<div class="add-review"><i class="fa fa-pencil"></i> <a>Add a Review</a></div>
                 						<div class="services review">
                 							<div class="row">
                 								<div class="col-sm-6 col-md-6">
                 									<span>Vikas Rawat</span><br>
                 									<p><i class="fa fa-star"></i> {{data.professional.reviewsCount}}</p>
                 									<small>Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum, Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum</small>
                 								</div>

                 								<div class="col-sm-6 col-md-6 review">
                 									<span>Vikas Rawat</span><br>
                 									<p><i class="fa fa-star"></i> {{data.professional.reviewsCount}}</p>
                 									<small>Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum, Sed Out perspectis unde omnis iste natus error sit voluptaterm dolerumpem landitum.</small>
                 								</div>
                 								
                 							</div>
                 						</div>
                 						<div class="showmore hidden-md hidden-sm hidden-lg">
                 							<a href="#">Show More (12) <i class="fa fa-chevron-down"></i> </a> 
                 						</div>

                 					</div>

                 				</div>
                 			</div>
                 		</section>

                 		<section class="hidden-xs portfolio">
                 			<div class="container">
                 				<div class="row">
                 					<div class="col-sm-12 col-md-12 overview">
                 						<div class="services-content">
                 							<img ng-src="images/right.png"><h5>Reviews</div>
                 							<div class="add-review"><i class="fa fa-pencil"></i> <a>Add a Review</a></div>
                 							<div class="service text-center">
                 								<img ng-src="images/k.png" width="50px"><small>No reviews yet to show</small>
                 							</div>

                 						</div>

                 					</div>
                 				</div>
                 			</section>