<div class="leftbar">
     <div class="view-phone">
       <img src="images/hand.png" width="20px" style="color:#8B82B7"><span class="hidden-xs">{{data.professional.name}}</span>
       <span class="hidden-sm hidden-lg hidden-md"> Connect with seller</span>
       <button class="hidden-xs"><i class="fa fa-phone"></i>{{data.professional.phoneNumbers}}</button>
     </div>

           <div class="leftbar-address">
             <img ng-src="images/marker.png">
             <div class="sub-add">
               <span>Address</span>
               <p>{{data.professional.address.address1}}, {{data.professional.address.city}}, {{data.professional.address.city}}-{{data.professional.address.pincode}}</p>
             </div>
           </div>

                   <div class="leftbar-address">
                     <img ng-src="images/watch.png">
                     <div class="sub-add">
                       <span>Operating Hours</span>
                       <p>{{data.professional.startTime}} -{{data.professional.endTime}} <br>Closed on Tuesdays</p>
                     </div>
                   </div>

                           <div class="leftbar-address">
                             <img ng-src="images/calendar.png">
                             <div class="sub-add">
                               <span>Year of Estd.</span>
                               <p>{{data.professional.yearOfEstd}}</p>
                             </div>
                           </div>

                                     <div class="leftbar-address">
                                       <img ng-src="images/earth.png">
                                       <div class="sub-add">
                                         <a href=#>www.tuts.com</a>
                                       </div>
                                     </div>

                                                 <div class="leftbar-address">
                                                   <div id="map" class="map"></div>
                                                 </div>

                                                           <div class="leftbar-address">
                                                             <img ng-src="images/metro.png">
                                                             <div class="sub-add">
                                                               <span>Nearest Metro</span>
                                                               <p>HUDA City center (1.4kms)</p>
                                                             </div>
                                                           </div>

                                                                 <div class="leftbar-address">
                                                                     <button >
                                                                     <img ng-src="images/direction.png"> Get Direction
                                                                     </button>

                                                                 </div>
</div>
