<footer class="details-footer" ng-controller="homefooter">
	<div class="container">
		<div class="row footer-aligenment ">
			<div class="col-sm-2 col-md-2 home-footer">
				<span>For Buyers</span>
				<ul>
					<li ng-repeat="menu in items"><a href="#" >{{menu}}</a></li>
				</ul>
			</div>

			<div class="col-sm-2 col-md-2 home-footer">
				<span>For sellers</span>
				<ul>
					<li ng-repeat="menu1 in items1"><a href="#" >{{menu1}}</a></li>
				</ul>
			</div>

			<div class="col-sm-3 col-md-3 home-footer">
				<span>For Professionals</span>
				<ul>
					<li ng-repeat="menu2 in items2"><a href="#" >{{menu2}}</a></li>
				</ul>
			</div>
			<div class="col-sm-2 col-md-2 home-footer">
				<span>Company</span>
				<ul>
					<li ng-repeat="menu4 in items4"><a href="#" >{{menu4}}</a></li>
				</ul>
			</div>

			<div class="col-sm-2 col-md-2 home-footer">
				<span>Policies</span>
				<ul>
					<li ng-repeat="menu3 in items3"><a href="#" >{{menu3}}</a></li>
				</ul>
			</div>

			</div>

		<div class="row footer-aligenment ">
			<div class="col-sm-3 col-md-3 last-footer">
				<h5>Reach Buildzar At</h5>
				<ul>
					<li><i class="fa fa-phone"></i> <span>+91 9555913913</span></li>
					<li><i class="fa fa-envelope"></i> <a href="#">care@buildzar.com</a></li>
				</ul>
			</div>
			<div class="col-sm-3 col-md-3 address">
			<i class="fa fa-map-marker"></i>
				<div class="address-content">
					<span>Glow Homes Technologies pvt. Ltd.<br> 5th floor, Plot No. 44 Sector 44<br> Gurgaon, Haryana 122003, India</span>
				</div>
				</div>
				<div class="col-sm-6 col-md-6">
						<div class="map">
					<div style="text-decoration:none; overflow:hidden; ">
						<div id="gmap-display" style="height:100%; width:100%;max-width:100%;">
							<iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/search?q=Buildzar,+Gurgaon,+Haryana,+India&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU">
							</iframe>
						</div>
				   </div>
			  </div>
				</div>
			
			
		</div>
		</div>


		<div class="copyright hidden-xs">
			<span>© 2015 Buildzar.com All Rights Reserved.</span>
		</div>
		</footer>

