<div class="homeleftbar ">
	<span>Our Services</span>
				<div class="content">
					<img src="../images/one.png">
							<div class="content-description">
								   <h5>Concept design</h5>
								  <small>3D Views, Floor Plans, Elevations</small>
							 </div>
				</div>

		    <img src="../images/line 1.png" class="line">
					
					<div class="content1">
						<div class="content-description1">
							<h5>structural design</h5>
							<small>Structural & civil designs, Electrical & &nbsp;&nbsp;Plumbing</small>
						</div>
						<img src="../images/two.png">
					</div>

		               <img src="../images/line 2.png" class="line2">
									
									<div class="content1 last-content">
										<img src="../images/three.png">
										<div class="content-description1">
											<h5>Additional services</h5>
											<small>Bill of Quantity, 3D walk through, etc</small>
										</div>
									</div>

		<h4>book free consultation</h4>
		<form>
			<div class="form">
				<label for="email">Name</label>
				<input type="text" class="input" ng-model="name" placeholder="Vikas Rawat">
			</div>
			<div class="form">
				<input type="text" class="input" ng-model="phone" placeholder="Phone">
			</div>
			<div class="form">
				<input type="email" class="input" ng-model="email" placeholder="Email">
			</div>
			<div class="form"><button class="btn btn-success">Submit</button></div>

		</form>
	</div>