.architects
{
    margin-top: 15px;
    position: relative;
}
.section-image
{
    position: relative;
    top: -24px;
    margin: 0;
    padding: 0;
    width: 92px;
    margin-left: 7px;
}
.architects p

{
    font-family: 'SansPro-R';
    color:#342a80;
    font-size: 18px;
}
.architects p i
{
    font-size: 10px;
    position: absolute;
    top: 9px;
    color: #c9c9c9;
}
.architects p span
{
    padding-left: 11px;
    color: #c9c9c9;
    font-family: 'SansPro-R';
}
.architects  strong
{
    color: #515151;
    font-family: 'SansPro-SB';
    font-size: 17px;
    position: absolute;
    line-height: 10px
}
.architects  strong small

{
    color: #c9c9c9;
    font-size: 18px;
}
.arichtects-detail
{
    margin-top: 45px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
}
.arichtects-detail1
{
    margin-top: 10px;
}
.details
{
    position: relative;
    display: inline-block;
}
.details h4
{
    color: #423888;
    font-family: 'SansPro-R';
}
.review 
{
    margin-left: 5px;
}
.review i
{
    color: #ffad3d;
}
.review span
{
    color: #8f8f8f;
    font-family: 'SansPro-SB';
}
.review img
{
    margin-left: 10px;
}
.review1 span
{
     color: #8f8f8f;
    font-family: 'SansPro-SB';
}
.overlay
{
    position: absolute;
    left: 61px;
    top: 64px;
}
.overlay p
{
    color: #fff;
}
.quote {
    display: inline-block;
    position: absolute;
    margin-left: 43px;
    margin-top: 11px;
    border: 1px solid #332785;
    padding: 8px 11px;
    border-radius: 3px;
}
.quote a
{
    color: #332785;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'SansPro-SB';
}

.phone-no {
    display: inline-block;
    position: absolute;
    margin-left:144px;
    margin-top: 11px;
    padding: 8px 14px;
    border-radius: 5px;
    background-color:#1fbf55;
}
.phone-no i
{
    color: #fff;
    font-size: 20px;
}
.icon
{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    top: -20px;
}
.icon h4
{
    display: inline-block;
    font-size: 14px;
    font-family: 'SansPro-SB';
    color: #333333;
}
.icon p
{
    font-size: 15px;
    margin-left: 25px;
    line-height: 6px;
    color: #bbbbbb;
}
.project-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.project-list li
{
    float: left;
    margin-left: 15px;
}
.project-list li:first-child
{
    margin-left: 25px;
}
.project-list a{
    display: inline-block;
    background: #332785;
    position: relative;
}
.project-list a:hover .custom-tooltip{
    transition:all ease-in 0.2s;
    opacity: 1;
    visibility: visible;
}
.custom-tooltip{
    position: absolute;
    background: #332785;
    padding: 10px 10px 7px;
    text-align: left;
    color: #fff;
    top: -70px;
    left: -83%;
    width: 200px;
    opacity: 0;
    visibility: none;
}
.custom-tooltip a{
    position: relative;
}
.custom-tooltip p{
    margin-left: 0px;
    padding-top: 5px;
    color: #cccccc;
    font-size: 0.9em;
}
.custom-tooltip b
{
    color:#fff;
}
.custom-tooltip:after{
    position: absolute;
    content: '';
    left:42%;
    top:100%;
    border-top: 10px solid #332785;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.overlay1
{
    background: rgba(0,0,0,0.60);
    position: absolute;
    top: 0;
    height: 72px;
    width: 13.5%;
}
.overlay1 p
{
    position: relative;
    top: 30px;
    font-family: 'SansPro-B';
    font-size: 16px;
}


