.category
{
	background-color: #fff;
    margin-top: 19px;
    width:95%;
    border: 1px solid #cccccc;
}
.sub-category
{
	border-bottom: 1px solid #cccccc;
    padding: 8px 10px;
}
.sub-category img
{
    width: 20px;
}
.sub-category h5
{
    position: relative;
    display: inline;
    padding-left: 8px;
    font-family: 'SansPro-SB';
}
.main-nav
{
    float: none;
    list-style-type: none;
}
.main-nav li
{
    float: none;
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.main-nav li img
{
    width: 20px;
    position: relative;
    left: 10px;
}
.main-nav li a
{
    display: inline-block;
    text-decoration: blink;
    color: #bbbbbb;
    font-family: 'SansPro-B'
}
.main-nav.nav-tabs>li.active>a
{
    color:#1fbf55;
    border-color: transparent;
    background-color: transparent;
    font-family: 'SansPro-SB';
}
.main-nav li a:hover
{
    color: #666666;
    text-decoration: underline;
}

.main-nav .nav>li>a:hover {
    text-decoration: none;
}
.main-nav .nav>li>a:focus,.main-nav.nav>li>a:hover {
    background-color: transparent;
}
.main-nav.nav-tabs>li>a:hover {
     border-color:transparent; 
}

/*.
.sub-category h5
{
	position: relative;
    display: inline;
    padding-left: 8px;
    font-family: 'SansPro-SB';
}
.sub-category a
{
	display: inline-block;
    padding-left: 8px;
    text-decoration: blink;
    color: #bbbbbb;
    font-family: 'SansPro-B'
}*/
