@media screen and (max-width: 480px)
{
	#header
	{
		height: 4em;
	}
	.list
	{
		position: absolute;
		width: 49%;
		display: inline;
		padding-top: 5px;
	}

	.mobile-logo i
	{
		font-size: 16px;
		top: 4px;
		color: #3b2b8d;
		position: relative;
	}

	.list ul
	{
		margin: 0;
		padding-left: 4px;
		padding-top: 5px;
	}
	.list ul li i
	{
		font-size: 16px;
		padding-left: 3px;
		color: #9a92c3;
		position: relative;
		vertical-align: super;
	}

	.list ul li
	{
		float: left;
		list-style-type: none;
		border-radius: 100%;
		border: 1px solid;
		width: 30px;
		margin-left: 4px;
		height: 30px;
		padding: 3px;
		border-color: #332785;
		position: relative;
	}

	.list ul li:first-child
	{
		margin: 0px;
	}

	.list ul li img
	{
		width: 19px;
		padding: 2px 2px 2px 4px;
	}
	.form1
	{
		padding: 0px 12px;
		margin-left: 0px;
	}
	.location
	{
		margin-left: 0px;
		width: 100%;
	}
	.form
	{
		width: 100%;
     margin-left: 0px; 
	}
	.quote
	{
		margin-left: 14px;
		position: relative;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.phone-no
	{
		position: relative;
		margin-left: 19px;
	}
	.project-list li {
    padding-bottom: 10px;
}
.project-list li:first-child {
    margin-left: 15px;
}
.overlay1
{
	width: 25.5%;
}
.icon p
{
	line-height: 15px;
}

}