.right-form
{
	background-color: #f9dc85;
	padding-bottom: 50px;
  width: 94%;
}
.title
{
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
    padding-top: 12px;
}
.title p{
	line-height: 10px;
	color:#403e38;
	font-family: 'SansPro-SB';
}
.title p span
{
	padding-left:4px;
	color: #333333;
	font-family: 'SansPro-B';
	text-transform: uppercase;
}
.formsearch 
{
	margin-top: 15px;
	position: relative;
}
.formsearch p
{
padding-left: 31px;
    top: 0px;
    position: relative;
    color: #666666;
    font-size: 14px;
    font-family: 'SansPro-B';
    line-height: 14px;
}
.formsearch p span
{
	padding-left: 0px;
	color: #837e6c;
	font-family: 'SansPro-R'
}
.form
{
	background-color: #fff;
    border: 1px solid #ccc;
    width: 80%;
    margin-left: 34px;
   margin-top: 0px;
    margin-bottom: 12px;
}
.form input
{
	border-color: transparent;
	padding: 5px 4px;
}
.form textarea
{
	border-color:transparent;
    border: none;
    width: 99%;
}
.form textarea::-webkit-input-placeholder
{
	color:#a7a7a7;
	font-family: 'SansPro-R';
	padding: 10px 10px;
}
.form img
{
	padding-left: 10px;
}
::-webkit-input-placeholder { 
    color:#999999;
}
:-moz-placeholder { 
 color:#999999;
}
::-moz-placeholder { 
 color:#999999;
}
:-ms-input-placeholder { 
   color:#999999;
   }
   .form button
   {
   	width: 100%;
   	background-color:#33cc66;
   	outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
   }
   .term
   {
    position: relative;
    right: 46px;
    font-size: 12px;
    text-decoration: none;
    color:#7a766a;
    font-family: 'SansPro-B';
   }

.brand
{
	border: 1px solid #ccc;
    background: #fff;
    margin-top:28px;
    position: relative;
}
.brand img
{
	width: 100%;
    padding: 10px;
}
.form1
{
	margin-left: 30px;
	margin-bottom: 20px;
}
.location
{
	position: relative;
    display: inline-block;
    margin-left: 8px;
    background-color: #fff;
    width: 65%;
}
.form1 label
{
	font-size: 12px;
	width: 68px;
	color: #666666;
}
.location img
{
	padding-left: 12px;
}
.location button
{
    background: #fff;
    padding-left: 10px;
}
.location span
{
	padding-left: 55px;
	color: #a5a5a5;
}
.location1 span
{
	padding-left: 114px;
    position: relative;
    color: #a5a5a5;
}
.sponsored
{
	top: 23px;
    position: relative;
}