.main-header i
{
	font-size: 2em;
    padding-left: 5px;
    position: relative;
    top: 6px;
}
.search a i {
   color: #332785;
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 18px;
    padding-left: 35px;
}
.submitsearch-box i {
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 4px;
}
.description
{
	padding-top: 10px;
	position: relative;
	border-right: 1px solid #ccc;
}
.content
{
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 2px 15px;
}
.content h4
{
	font-family: 'SansPro-SB';
	display: block;
}
.content img
{
	width: 65%;
    margin-left: 30px;
    margin-top: 20px;
}
.content h5
{
	font-family: 'SansPro-B';
	color: #332785;
	font-size: 22px;
}
.content p
{
	font-family: 'SansPro-L';
}
.features
{
	width: 30%;
	position: relative;
	display: inline-block;
}
.features img
{
	width: 15px;
	margin:0px;
}
.features p
{
	display: inline-block;
	position: relative;
	top: 2px;
	font-family: 'SansPro-L';
	padding-left: 8px;
}
.features span
{
	padding-left: 70px;
	font-family: 'SansPro-SB';
	color: #000;
	display: inline-block;
    position: absolute;
    top: 2px;
}
.features i
{
	position: relative;
    top: 3px;
    padding-left: 6px;
}
.features1 span
{
	padding-left: 100px;
}
.form-detail
{
	background-color: #fae39c;
}
.form
{
	margin-bottom: 25px;
	width: 44%;
	position: relative;
	display: inline-block;
	margin-right: 19px;
}
.input
{
	display: block;
	width: 100%;
	padding:0px;	
	border:none;
	border-bottom: 1px solid #ccc;
	line-height: 1.42857143;
	background-color: #fae39c;
	-webkit-transition:  ease-in-out .15s;
	-o-transition: ease-in-out .15s;
	transition:  ease-in-out .15s;
}
.input:focus
{
	border-bottom-color:#3a2b88;
	outline: none;
}
.form label
{
	color:#3a2b88;
	font-family: 'SansPro-L';
}
.form button
{
	padding: 5px 80px;
	position: relative;
	top: -3px;
	text-transform: uppercase;
	font-family: 'SansPro-SB';
}
::-webkit-input-placeholder { 
	font-family: 'SansPro-R';
	color: #666666;
}
:-moz-placeholder {
	font-family: 'SansPro-R';
	color: #666666;
	opacity:  1;
}
::-moz-placeholder { 
	font-family: 'SansPro-R';
	color: #666666;
	opacity:  1;
}
:-ms-input-placeholder { 
	font-family: 'SansPro-R';
	color: #666666;
}
input:focus::-webkit-input-placeholder {
	font-family: 'SansPro-L';
}
#homedetailsslider
{
	padding-bottom: 12px;
}
#homedetailsslider .carousel-inner
{
	height: 422px;
}
.simage{
	margin-left: 0px!important;
	padding-top: 0px!important;
}

.custom-indicators{
	top: 0;
	bottom: 0px;
	margin-left: 0px;
	left:98.5%;
	width: 20%;
}

.custom-indicators li{
	width: 78px;
	text-indent: 0px;
	border: none!important;
	box-shadow: none!important;
	position: relative;
	padding-bottom: 60px;
    position: relative;
    border: 1px solid #ccc!important;
    border-radius: 0px;
    margin-bottom: 8px!important;
}
.custom-indicators li img
{
	width: 75px;
    position: relative;
    top: -20px;
}

.custom-indicators li.active {
	width: 78px;
	margin: 0;
	background-color:transparent; 
	position: relative;
	border: 1px solid #332785!important;
}

.custom-indicators .carousel-indicators.active
{
	position: relative;
	width: 100px;
	margin: 0px;
	padding: 0px;
}
.custom-indicators.carousel-indicators li
{
	margin: 0px;
}

.active {
	border: none!important;
	box-shadow: none!important;
   -webkit-box-shadow: none!important;
}
.custom-control{
	z-index: 100;
	background-image: none!important;
}

.custom-control.right {
	right:-7px;
}
.custom-control.right img
{
	width: 55px;
    position: relative;
    right: 5px;
    top: 6px;
    margin: 0;
}
.custom-control.left {
	left: 0px;
}
.custom-control.left img
{
	width: 55px;
    transform: rotate(188deg);
    position: relative;
    right: 5px;
    top: 6px;
    margin: 0;
}
.custom-control {
	position: absolute;
	top: inherit;
	bottom: 42%;
	left: 0;
	width: 7%;
	color: #33cc66;
	height: 15%;
	text-shadow: none; 
	background-color: rgba(0,0,0,0.9);
}

#homedetailsslider .item img{
	width: 100%!important;
	margin: 0;
}
.rightbar-section
{
	position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}