.similar-plans
{
	margin-left: 20px;
	font-size: 20px;
	font-family: 'SansPro-SB';
	color: #737373;
	position: relative;
    top: 28px;
}
.flat-section
{
    position: relative;
    margin:15px;
}
.right-section1
{
	width: 100%;
	margin-top: 25px;
	position: relative;
	display: inline-block;
} 
.villa-section
{
	border:1px solid #ccc;
	position: relative;
	background: #fff;
	width: 22.4%;
    margin: 0px 16px;
    top: 30px;
}
/*.villa-section:before
{
	content: "";
    display: block;
    width: 7px;
    height: 10px;
    border-left: 12px solid transparent;
    border-top: 12px solid #ccc;
    border-right: 12px solid transparent;
    position: absolute;
    top: 290px;
    left: 11px;
    border-radius: 100%;
    color: #fff;
}*/
.villa-section small
{
	font-family: 'SansPro-L';
}
.villa-section span
{
	font-family: 'SansPro-R';
	margin-left: 2px;
}

.details
{
	padding-top: 5px;
	position: relative;
}
.details a
{
	color: #3a2b88;
	text-transform: uppercase;
	font-family: 'SansPro-SB';
}
.image-section
{
	position: relative;
	margin-top: 10px;
}
.image-section img
{
	width: 100%;
}
.active 
{
	border:1px solid #3a2b88;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.overlay
{
	 position:absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
}
.overlay a
{
	background: #33cc66;
    color: #fff;
	position: relative;
	top: 10px;
	left: 10px;
	padding: 5px 10px 5px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'SansPro-R';
}
.overlay img
{
	    float: right;
	    width: 20px;
    display: inline-block;
    right: 13px;
    position: relative;
    top: 10px
}