@media screen and (max-width: 480px)
{
	#header
	{
		height: 4em;
	}
	.list
	{
		position: absolute;
		width: 49%;
		display: inline;
		padding-top: 5px;
	}

	.mobile-logo i
	{
		font-size: 16px;
		top: 4px;
		color: #3b2b8d;
		position: relative;
	}

	.list ul
	{
		margin: 0;
		padding-left: 4px;
		padding-top: 5px;
	}
	.list ul li i
	{
		font-size: 16px;
		padding-left: 3px;
		color: #9a92c3;
		position: relative;
		vertical-align: super;
	}

	.list ul li
	{
		float: left;
		list-style-type: none;
		border-radius: 100%;
		border: 1px solid;
		width: 30px;
		margin-left: 4px;
		height: 30px;
		padding: 3px;
		border-color: #332785;
		position: relative;
	}

	.list ul li:first-child
	{
		margin: 0px;
	}

	.list ul li img
	{
		width: 19px;
		padding: 2px 2px 2px 4px;
	}

	.main-section
	{
		margin: 10px 0px;
		position: relative;
	}
	.description
	{
		border: none;
	}
	.features
	{
		width: 100%;
	}
	.content img
	{
		margin-left: 40px;
	}
	.form
	{
		width: 100%;
	}
	.form button
	{
		width: 100%;
	}
	.content h5
	{
		font-size: 17px;
		padding: 0px 18px;
	}
	.specification
	{
		position: relative;
		display: inline-block;
	}
	.specification button {
		width: 100%;
		background-color: #33cc66;
		color: #fff;
		font-family: 'SansPro-B';
		/* float: right; */
		bottom: 0px;
	}
	.flat-section
	{
		margin:0px;
	}
	.villa-section
	{
		width: 100%;
		margin:0px 0px 10px 0px;
	}
	.villa-section:before
	{
		content: "";
		display: none;
	}
	.plot-detail img 
	{
		width: 45px;
		margin-left: 16px;
	}
	.plan-content
	{
		width: 32%;
	}
	.address {
		padding-top: 3em;
		margin-left: 0px;

		position: relative;
	}
	.map 
	{

		margin-top: 50px;
	}
	.footer-aligenment {
		margin-left: 0px;
	}

	.details-footer {
		padding-top: 0px;
	}
	.last-footer h5
	{
		padding-left: 0px;
	}
	.home-footer
	{
		padding: 1em 3em 0em 3em;
	}
	.address {
    padding-top: 1em;
    padding-left: 35px;
}

}