.details-footer
{
	padding-top: 95px;
}

.main-section
{
	background: #fff;
	position: relative;
	margin:15px;
	border: 1px solid #ccc;

}
.plan
{
	position: relative;
	padding: 10px 15px;
}
.plan small
{
	font-family: 'SansPro-R';
    font-size: 24px;
}
.plan  p
{
	font-family: 'SansPro-B';

}

.plan-content
{
	width:61%;
    position: relative;
    text-align: center;
}
.plan-content p
{
	font-family: 'SansPro-L';
	position: relative;
    text-align: center;
}
.plan-content span
{
	font-family: 'SansPro-SB';
}
.plot-detail
{
	position: relative;
	padding-left: 10px;
}
.plot-detail img
{
 width: 45px;
 margin-left: 14px;
}

.plan button
{
	background-color:#332785;
	color: #fff;
	font-family: 'SansPro-SB';
	text-transform: uppercase;
	border:none;
	outline: none;
	position: relative;
    padding: 6px 10px;
    width: 100%; 
}
.standard-set
{
	width: 100%;
	position: relative;
	border:1px solid #ccc;
	margin-top: 20px;
	padding: 5px 10px;
}
.standard-set h5
{
	position: relative;
	display: inline;
	font-family: 'SansPro-B';
	font-size: 15px;
}
.standard-set span
{
	font-family: 'SansPro-B';
	font-size: 15px;
}
.standard-set i
{
font-size: 15px;
 padding-right: 4px;
    top: 2px;
    position: relative;
}
.specification ul
{
	list-style-type: none;
    margin: 0px;
    left: 0;
    position: relative;
    display: inline;
}
.specification ul li
{
	position: relative;
	font-family: 'SansPro-L';
}
.specification ul li img
{
	padding-right: 8px;
}
.specification button
{
	width: 24%;
	background-color: #33cc66;
	color: #fff;
	font-family: 'SansPro-B';
	float: right;
    bottom: 34px;
}
.affix {
    position: fixed;
    top: 0px;
    right: 0px;
}

.plnfix{
 right: 0px;
}