<div class="description">
	<div class="content hidden-xs">
    <div class="row">
    	<div id="homedetailsslider" class="carousel slide col-sm-10" data-ride="carousel" >
    	<div class="carousel-inner" role="listbox">
    			<div class="item active">
    				<img src="{{data.plan.firstFloorImageUrl}}">
    			</div>
    			<div class="item">
    				<img src="{{data.plan.secondFloorImageUrl}}">
    			</div>
                <div class="item">
                    <img src="{{data.plan.basementImageUrl}}">
                </div>
                <div class="item">
                    <img src="{{data.plan.groundFloorImageUrl}}">
                </div>
    			<div class="item">
    				<img src="{{data.plan.actualImageUrl}}">
    			</div>
                <div class="item">
                    <img src="{{data.plan.areaPlanImageUrl}}">
                </div>
    		<!-- 	<div class="item">
    				<img src="{{data.plan.imageS3Path}}">
    			</div -->
    		</div>

    		<a class="left carousel-control custom-control" href="#homedetailsslider" role="button" data-slide="prev">
    			<!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
                <img src="../images/next 1.svg">
    			<span class="sr-only">Previous</span>
    		</a>
    		<a class="right carousel-control custom-control" href="#homedetailsslider" role="button" data-slide="next">
    			<!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                <img src="../images/next 2.svg">
    			<span class="sr-only">Next</span>
    		</a>

    		<ol class="carousel-indicators custom-indicators">
    			<li data-target="#homedetailsslider" data-slide-to="0" class="active">
    				<img src="{{data.plan.firstFloorImageUrl}}" class="simage">
    			</li>
    			<li data-target="#homedetailsslider" data-slide-to="1">
    				<img src="{{data.plan.secondFloorImageUrl}}" class="simage">
    			</li>
                <li data-target="#homedetailsslider" data-slide-to="2">
                    <img src="{{data.plan.basementImageUrl}}" class="simage">
                </li>
                <li data-target="#homedetailsslider" data-slide-to="3">
                    <img src="{{data.plan.groundFloorImageUrl}}" class="simage">
                </li>
    			<li data-target="#homedetailsslider" data-slide-to="5">
    				<img src="{{data.plan.actualImageUrl}}" class="simage">
    			</li>
                <li data-target="#homedetailsslider" data-slide-to="4">
                    <img src="{{data.plan.areaPlanImageUrl}}" class="simage">
                </li>
    			<!-- <li data-target="#homedetailsslider" data-slide-to="6">
    				<img src="{{data.plan.imageS3Path}}" class="simage">
    			</li> -->

    		</ol>
    	</div>
    </div>
</div>

		<div class="content">
			<h4>Description</h4>
			<p>{{data.plan.description}}</p>
		</div>
        

			<div class="content">
				<h4>Features</h4>
				<div class="features">
					<img src="../images/bedroom.svg"> <p>Bedrooms <span>{{data.plan.totalBedroom}}</span> </p>
				</div>
				<div class="features">
					<img src="../images/bathroom.svg"> <p>Bathrooms <span>{{data.plan.totalBathroom}}</span></p> 
				</div>
				<div class="features features1">
					<img src="../images/Living Room-16.png"> <p>Drawing Rooms <span>{{data.plan.totalDrawingRoom}}</span></p>
				</div>
				<div class="features">
					<img src="../images/kitchen.png"> <p>Kitchen <span>{{data.plan.totalKitchen}}</span></p> 
				</div>
				<div class="features">
					<img src="../images/facing.svg"> <p>Facing <span id="facedirection" >{{data.plan.facingDirection}}</span> </p>
				</div>
				<div class="features features1">
				<img src="../images/Calculator-16.png"> <p>Cost Estimate  <i class="fa fa-inr"></i> <span id="numbers">{{data.plan.costEstimate}}</span></p>
				</div>
				<div class="features">
				<img src="../images/vaastu.svg"><p>Vaastu <span>YES</span> </p>
				</div>
				<div class="features">
					<img src="../images/lift.svg"> <p>Lift  <span>{{data.plan.lift}}</span></p>
				</div>
			</div>


		<div class="content form-detail ">
			<div class="row">
				<div class="col-sm-4">
					<img src="../images/image.png">
				</div>
					<div class="col-sm-8 col-md-8">
						 <h5>To customize this design, request a meeting with our Architect</h5>
							<form ng-submit="submitForm()">
								<div class="form">
									<label for="email">Name</label>
									<input type="text" class="input" ng-model="name" placeholder="Vikas Rawat">
								</div>
								<div class="form">
									<input type="text" class="input" ng-model="phone" placeholder="Phone">
								</div>
								<div class="form">
									<input type="email" class="input" ng-model="email" placeholder="Email">
								</div>
								<div class="form"><button class="btn btn-success">Submit</button></div>
							</form>
					</div>
			</div>
		</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(window).load(function(){
           var value=$("#facedirection").text().replace(/_/g, '');
           $("#facedirection").html(value);
        });
        
    });
</script>
<script type="text/javascript">
   $(document).ready(function(){
    $(window).load(function()
        { 
            var v_pound = $('#numbers').text().replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
             $('#numbers').html(v_pound)
        });
    });
</script>