<div class="container-fluid" ng-controller="apiCtrl">
	<div class="row main-section">
             <div class="col-sm-7 col-md-7 rightbar-section">
				<div ng-include="'description.html'"></div>
			</div>

				<div class="col-sm-5 col-md-5 plnfix"  data-spy="affix" data-offset-top="0">
					<div ng-include="'plan.html'"></div>
				</div>
	</div>
</div>