<div class="plan">
	<small>Plan ID :{{data.plan.id}}</small>
	<p>Plot Area 3000 Sq.Ft</p>
	<div class="row">
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/plot size.svg" class="img-responsive">
				<div class="plan-content"><p>Plot Size<br>
				<span>{{data.plan.length}}'X {{data.plan.width}}'</span></p></div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/house type.svg" class="img-responsive">
				<div class="plan-content">
				<p>House Type<br>
				<span>{{data.plan.houseType}}</span></p></div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/builtup.svg" class="img-responsive">
				<div class="plan-content">
				<p>Builtup Area<br>
				<span>{{data.plan.plotArea}} Sq.Ft</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/floors.svg" class="img-responsive">
				<div class="plan-content">
				<p>Floor<br>
				<span>{{data.plan.floors}}</span></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/stilt.svg" class="img-responsive">
			     <div class="plan-content">
			     <p>Stilt<br>
				  <span  class="stilt">{{data.plan.stilt}}</span></p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="plot-detail">
				<img src="../images/basement.svg" class="img-responsive">
				<div class="plan-content">
				<p>Basement<br>
				<span class="stilt">{{data.plan.basement}}</span></p>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<button id="getdesign">Get This design</button>
		</div>
	</div>

	<div class="standard-set">
		<h5>Concept Set</h5> 
		<span class="pull-right"><i class="fa fa-inr"></i> 999/-</span>
		<div class="specification">
			<ul>
				<li><img src="../images/Checkmark.svg"> 3D Elevation view</li>
				<li><img src="../images/Checkmark.svg"> Conceptual floor plans</li>
				<button >Buy Now</button>
			</ul>
		</div>
	</div>
	<div class="standard-set">
		<h5>Standard Set</h5> 
		<span class="pull-right"> <i class="fa fa-inr"></i>19,999/-</span>
		<div class="specification">
			<ul>
				<li><img src="../images/Checkmark.svg"> All conceptual set</li>
				<li><img src="../images/Checkmark.svg"> Structural drawings</li>
				<li><img src="../images/Checkmark.svg"> Plumbing & Electrical drawings</li>
				<button >Buy Now</button>
			</ul>
		</div>
	</div>
	<div class="standard-set">
		<h5>Advance Set</h5> 
		<span class="pull-right"> <i class="fa fa-inr"></i> 19,999/-</span>
		<div class="specification">
			<ul>
				<li><img src="../images/Checkmark.svg">Standard set</li>
				<li><img src="../images/Checkmark.svg">3D video walkthrough</li>
				<li><img src="../images/Checkmark.svg">Complete cost estimation with Bill of material</li>
				<button >Buy Now</button>
			</ul>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

	$(".standard-set").hide();
     $("#getdesign").click(function(){
     $(".standard-set").toggle();
     });
});
</script>
<script>
	$(document).ready(function(){
		$(window).load(function(){
	     var rename=$(".stilt").text();
	     if(rename=='true')
	     {
	        $('.stilt').text('Yes');
	     }
	     else
	     {
	     	$('.stilt').text('No');
	     }

		});
	});
</script>
