<div class="tab-content" >
	<div class="row">
		<div class="col-sm-7 col-md-7">
			<div class="tab-content">
				<div id="home" class="tab-pane fade in active architects">
					<div ng-include="'architects1.html'"></div>
					
				</div>

				<div id="interior" class="tab-pane fade architects">
					<div ng-include="'interior.html'"></div>
				</div>

				<div id="turkeycontractor"  class="tab-pane fade architects">
					<div ng-include="'contractor.html'"></div>
				</div>

				<div id="civilcontractor"  class="tab-pane fade architects">
					<div ng-include="'civilcontractor.html'"></div>
					
				</div>
			</div>
		</div>

		<div class="col-sm-5 col-md-5">
			<div ng-include="'rightform.html'"></div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>