<div class="category">
	<div class="sub-category">
		<img ng-src="../images/CATEGORIES.svg"> <h5>All Categories</h5>
	</div>
	<ul class="nav nav-tabs main-nav">
		<li class="active"><img ng-src="../images/architects.svg"> <a href="#home" data-toggle="tab">{{data.professionals.searches[0].categories[0]}}</a></li>
		<li><img ng-src="../images/interior designer.svg"> <a  data-toggle="tab" href="#interior">{{data.professionals.searches[1].categories[1]}}</a></li>
		<li><img ng-src="../images/3D artist.svg"> <a data-toggle="tab" href="#turkeycontractor" > {{data.professionals.searches[2].categories[1]}} </a></li>
		<li><img ng-src="../images/bathroom designer.svg"> <a  data-toggle="tab" href="#civilcontractor">{{data.professionals.searches[5].categories[3]}}</a></li>
    </ul>
</div>
