<p>{{data.professionals.searches[5].belongsToCategory[0]}}<i class="fa fa-chevron-right"></i> <span>Architects</span></p>
<strong><small>Showing</small> {{data.professionals.searches[5].belongsToCategory[1]}} <small>in</small> Gurgaon</strong>

<div class="arichtects-detail">
	<img ng-src="../images/1.png" class="section-image">
	<div class="overlay">
		<p>+12</p>
	</div>
	<div class="details">
		<h4>{{data.professionals.searches[5].name}}</h4>
		<div class="review">
			<i class="fa fa-star star"></i>
			<span>{{data.professionals.searches[5].rating}}</span> <img ng-src="../images/verified.png">
		</div>
		<div class="review1">
			<img src="../images/marker.png">
			<span>{{data.professionals.searches[5].distance}} Kms from you</span>
		</div>
	</div>

	<div class="quote">
		<a href="#">Get Quote</a>
	</div>

	<div class="phone-no">
		<a href="#"><i class="fa fa-phone"></i></a>
	</div>

	<div class="icon">
		<img ng-src="../images/icon1.png">
		<h4>Services Provided</h4>
		<p>Cement, Steel TMT, Bricks, Paints, Tiles, Sanitary ware</p>
	</div>

	<div class="icon">
		<img ng-src="../images/icon2.png">
		<h4>Minimum project budget</h4>
		<p>Rs. 50 Lakhs</p>
	</div>

	<div class="icon">
		<img ng-src="../images/icon3.png">
		<h4>Past Project</h4><br>
		<ul class="project-list">
			<li ><a href=""  data-toggle="tooltip" >
				<span class="custom-tooltip">
					<b>Imperial Epitome</b>
					<p>Gurgaon</p>
				</span>
				<img ng-src="../images/2.png">
			</a>
		</li>
		<li><a href=""  data-toggle="tooltip"> 
			<span class="custom-tooltip">
				<b>Imperial Epitome</b>
				<p>Gurgaon</p>
			</span>
			<img ng-src="../images/3.png">
		</a></li>

		<li><a href=""  data-toggle="tooltip">
			<span class="custom-tooltip">
				<b>Imperial Epitome</b>
				<p>Gurgaon</p>
			</span>

			<img ng-src="../images/4.png"></a></li>
			<li><a href=""  data-toggle="tooltip" >
				<span class="custom-tooltip">
					<b>Imperial Epitome</b>
					<p>Gurgaon</p>
				</span>
				<img ng-src="../images/5.png"></a></li>
				<li><a href="#" data-toggle="tooltip">
					<span class="custom-tooltip">
						<b>Imperial Epitome</b>
						<p>Gurgaon</p>
					</span>
					<img ng-src="../images/6.png"></a></li>
					<li><a href="" ><img ng-src="../images/7.png"></a>
						<div class="overlay1">
							<p>More</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="arichtects-detail arichtects-detail1">
			<img ng-src="../images/1.png" class="section-image">
			<div class="overlay">
				<p>+12</p>
			</div>
			<div class="details">
				<h4>{{data.professionals.searches[4].name}}</h4>
				<div class="review">
					<i class="fa fa-star star"></i>
					<span>{{data.professionals.searches[4].rating}}</span> <img ng-src="../images/verified.png">
				</div>
				<div class="review1">
					<img src="../images/marker.png">
					<span>{{data.professionals.searches[4].distance}} Kms from you</span>
				</div>
			</div>

			<div class="quote">
				<a href="#">Get Quote</a>
			</div>

			<div class="phone-no">
				<a href="#"><i class="fa fa-phone"></i></a>
			</div>

			<div class="icon">
				<img ng-src="../images/icon1.png">
				<h4>Services Provided</h4>
				<p>Cement, Steel TMT, Bricks, Paints, Tiles, Sanitary ware</p>
			</div>

			<div class="icon">
				<img ng-src="../images/icon2.png">
				<h4>Minimum project budget</h4>
				<p>Rs. 50 Lakhs</p>
			</div>

			<div class="icon">
				<img ng-src="../images/icon3.png">
				<h4>Past Project</h4><br>
				<ul class="project-list">
					<li ><a href=""  data-toggle="tooltip" >
						<span class="custom-tooltip">
							<b>Imperial Epitome</b>
							<p>Gurgaon</p>
						</span>
						<img ng-src="../images/2.png">
					</a>
				</li>
				<li><a href=""  data-toggle="tooltip"> 
					<span class="custom-tooltip">
						<b>Imperial Epitome</b>
						<p>Gurgaon</p>
					</span>
					<img ng-src="../images/3.png">
				</a></li>

				<li><a href=""  data-toggle="tooltip">
					<span class="custom-tooltip">
						<b>Imperial Epitome</b>
						<p>Gurgaon</p>
					</span>

					<img ng-src="../images/4.png"></a></li>
					<li><a href=""  data-toggle="tooltip" >
						<span class="custom-tooltip">
							<b>Imperial Epitome</b>
							<p>Gurgaon</p>
						</span>
						<img ng-src="../images/5.png"></a></li>
						<li><a href="#" data-toggle="tooltip">
							<span class="custom-tooltip">
								<b>Imperial Epitome</b>
								<p>Gurgaon</p>
							</span>
							<img ng-src="../images/6.png"></a></li>
							<li><a href="" ><img ng-src="../images/7.png"></a>
								<div class="overlay1">
									<p>More</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="arichtects-detail arichtects-detail1">
					<img ng-src="../images/1.png" class="section-image">
					<div class="overlay">
						<p>+12</p>
					</div>
					<div class="details">
						<h4>{{data.professionals.searches[3].name}}</h4>
						<div class="review">
							<i class="fa fa-star star"></i>
							<span>{{data.professionals.searches[3].rating}}</span> <img ng-src="../images/verified.png">
						</div>
						<div class="review1">
							<img src="../images/marker.png">
							<span>{{data.professionals.searches[3].distance}} Kms from you</span>
						</div>
					</div>

					<div class="quote">
						<a href="#">Get Quote</a>
					</div>

					<div class="phone-no">
						<a href="#"><i class="fa fa-phone"></i></a>
					</div>

					<div class="icon">
						<img ng-src="../images/icon1.png">
						<h4>Services Provided</h4>
						<p>Cement, Steel TMT, Bricks, Paints, Tiles, Sanitary ware</p>
					</div>

					<div class="icon">
						<img ng-src="../images/icon2.png">
						<h4>Minimum project budget</h4>
						<p>Rs. 50 Lakhs</p>
					</div>

					<div class="icon">
						<img ng-src="../images/icon3.png">
						<h4>Past Project</h4><br>
						<ul class="project-list">
							<li ><a href=""  data-toggle="tooltip" >
								<span class="custom-tooltip">
									<b>Imperial Epitome</b>
									<p>Gurgaon</p>
								</span>
								<img ng-src="../images/2.png">
							</a>
						</li>
						<li><a href=""  data-toggle="tooltip"> 
							<span class="custom-tooltip">
								<b>Imperial Epitome</b>
								<p>Gurgaon</p>
							</span>
							<img ng-src="../images/3.png">
						</a></li>

						<li><a href=""  data-toggle="tooltip">
							<span class="custom-tooltip">
								<b>Imperial Epitome</b>
								<p>Gurgaon</p>
							</span>

							<img ng-src="../images/4.png"></a></li>
							<li><a href=""  data-toggle="tooltip" >
								<span class="custom-tooltip">
									<b>Imperial Epitome</b>
									<p>Gurgaon</p>
								</span>
								<img ng-src="../images/5.png"></a></li>
								<li><a href="#" data-toggle="tooltip">
									<span class="custom-tooltip">
										<b>Imperial Epitome</b>
										<p>Gurgaon</p>
									</span>
									<img ng-src="../images/6.png"></a></li>
									<li><a href="" ><img ng-src="../images/7.png"></a>
										<div class="overlay1">
											<p>More</p>
										</div>
									</li>
								</ul>
							</div>
						</div>