<header id="header" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 col-md-2 main-header hidden-xs" ng-init="myVar ='../images/logo.png'">
				<i class="fa fa-bars"></i>
				<img ng-src="{{myVar}}">
			</div>
			<div class="col-sm-6 col-md-6 main-header hidden-xs">
				<div class="search">
					<a "dropdown-toggle" type="button" data-toggle="dropdown" class="hidden-xs">Dealers
						<i class="fa fa-chevron-down"></i></a>
						<ul class="dropdown-menu submenu">
							<li><a href="#">Dealer1</a></li>
							<li><a href="#">Dealer2</a></li>
							<li><a href="#">Dealer3</a></li>
							<li><a href="#">Dealer4</a></li>
						</ul>
						<input type="search" name="" class="search-input hidden-xs">
						<label for="submitsearch" class="submitsearch-box" >
							<i class="fa fa-search submitsearchicon" ></i>
							<input type="submit" class="submitsearch" id="submitsearch">
						</label>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 hidden-xs">
					<ul class="navbar navbar-nav header-nav">
						<li>
							<div class="dropdown place ">
								<img src="../images/marker1.png">
								<button "dropdown-toggle" type="button" data-toggle="dropdown" class="hidden-xs">Gurgaon
									<i class="fa fa-chevron-down hidden-xs"></i></button>
									<ul class="dropdown-menu submenu hidden-xs">
										<li><a ng-click="getDetails()">Gurgaon</a></li>
										</ul>
								</div>
							</li>
							<li><img src="../images/mobile.png" width="22"><span class="hidden-xs">9555913913</span></li>
							<li><img src="../images/user.png" width="22"><span  class="hidden-xs">Login</span></li>
						</ul>
					</div>
				</div>

				<div class=" mobile-logo hidden-sm hidden-md hidden-lg">
					<i class="fa fa-bars"></i>
					<img src="../images/logo.png" width="140">
					<div class="list">
						<ul>
							<li><i class="fa fa-search"></i></li>
							<li><img src="../images/marker1.png"></li>
							<li><img src="../images/mobile.png"></li>
							<li><img src="../images/user.png"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>