<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div ng-include="'category.html'"></div>
		</div>
		<div class="col-sm-9 col-md-9">
			<div ng-include="'architects.html'"></div>
		</div>
	</div>
</div>