<div class="architects">
	<div class="right-form">
		<div class="title">
			<p>Find <span>Architects & Designers</span></p> <p>in<span>greater noida</span></p>  
		</div>
		<form  role="form" class="formsearch">
		<div class="form1">
		  <label for="Location">Location</label> 
				<div class="dropdown location">
				<img ng-src="../images/near me.png">
				  <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Greater Noida
				  <span class="fa fa-chevron-down"></span></button>
				  <ul class="dropdown-menu">
				  </ul>
				</div>
		</div>
		<div class="form1">
		  <label for="Location">Looking For</label> 
				<div class="dropdown location location1">
				  <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Architects
				  <span class="fa fa-chevron-down second"></span></button>
				  <ul class="dropdown-menu">
				    
				  </ul>
				</div>
		</div>

		<p>Describe your need <span>(optional)</span></p>
		<div class="form">
			<textarea cols="36" rows="3" placeholder="Describe your plot size, locality, expected floors to construct etc"></textarea>
		</div>

		<div class="form">
			<img src="../images/user (2).png">
			<input type="password"   ng-model="name" placeholder=" Your Name">
		</div>

		<div class="form">
			<img src="../images/phoneno.png">
			<input type="password"   ng-model="phone" placeholder=" Phone Number">
		</div>

		<div class="form">
			<img src="../images/Message.png">
			<input type="password"   ng-model="phone" placeholder="Email (optional)">
		</div>
		<div class="form">
			<button>Submit</button>
		</div>
		<a href="#" class="pull-right term">T&C Apply</a>
	 </form>
    </div>
    <span class="sponsored">Sponsored & popular</span>

    <div class="brand">
    <div >
    	<img ng-src="../images/philips.png">
    </div>
    </div>
</div>