.Home-header
{
	width: 100%;
	position: relative;
	background: #fff;
	padding-bottom: 20px;
}
.homemain-header
{
width: 100%;
	height: 6em;
	background: #fff!important;
	box-shadow:0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow:0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.main-header
{
	margin:1em 0em;
}
.main-header i
{
	/*font-size:1em;
    padding-left: 1.6em;*/
    font-size: 2em;
    padding-left: 5px;
    position: relative;
    top: 6px;
   
}
.main-header img
{
	width: 82%;
}
.search
{
	border:1px solid;
	border-color: #ddd!important;
	border-radius: 2px;
	position: relative;
	margin-top: 10px;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
   -webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.16),0 2px 3px 0 rgba(0,0,0,0.12);
}
.search a i
{
	 /*color: #332785;*/
	 color: #332785;
    display: inline-block;
    position: relative;
    top: 1px;
    font-size: 18px;
    padding-left: 35px;
}
.search a
{
    font-size: 14px;
    padding: 5px 10px 6px 10px;;
    border-right: 1px solid #CCC;
    display: inline-block;
    color: #332785;
    text-decoration: blink;
    background: #F3F3F3
}

input[type=search] {
    -webkit-appearance: none;
    width: 60%;
    border: none;
    height: 31px;
    display: inline-block;
    outline: none;
}
.header-nav
{
	list-style-type:none;
	position: relative;
	width: 100%;
	margin-top: 15px;
	padding-left: 0px;
}
.header-nav>li
{
	border: 1px solid #332785;
	margin: .8em 0.6em;
	position: relative;
	padding: 0.4em 1em .4em 1em;
    border-radius: 20px;
    color:#332785!important;
}
.header-nav i
{
	    padding-left: 11px;
    font-size: 15px;
}
.header-nav img
{
	padding-right: 6px;
    font-size: 20px;
     color: #332785;
}
.header-nav button
{
	background-color: #fff;
    border: none;
    outline: none;
    font-size:12px;
    color: #332785;
}
.submenu
{
	width: 80%;
}
.product-list
{
	list-style-type: none;
	padding-top: 12px;
	margin-left: 45px;
}
.product-list li
{
	float: left;
}
.product-list li a
{
	color:#332785!important;
	text-decoration: none;
	padding-left: 4px;
	font-size: 13px;
}
.product-list li i
{
	color:#332785!important;
	font-size: 11px;
	padding-left: 1px;
}
.product-list li a:last-child{
   color:#aaa!important;
}


.submitsearch{
	display: none;
}

.submitsearchicon{
	height: 31px;
	border: none;
	position: relative;
	color:#fff;
}

.submitsearch-box{
	background: #332785;
    width: 70px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #332785;
    border-radius: 0px 2px 2px 0px;
    cursor: pointer;
}
.submitsearch-box i{
	/*padding-top: 8px;*/
	padding-top: 0px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 4px;
}
.chat
{
	    margin-top: 23em;
    position: fixed;
    right: 0
}
.measearment
{
	padding-top: 20px;
	position: relative;
	display: inline-block;
}
.measearment input[type=radio]
{
	position: relative;
    margin-right: 5px;
}
.measearment span
{
	font-family: 'SansPro-R';
	font-size: 14px;
    padding-left: 15px;
}
.meter-area
{
	border:1px solid;
	border-color: #ddd!important;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	margin-right: 4px;
}
.meter-area a
{
	font-size: 14px;
    display: inline-block;
    color: #332785;
    text-decoration: blink;
    background: #F3F3F3;
    padding: 5px 35px 5px 35px;
}
.meter-area i
{
	margin-left: 12px;
}
.right-section
{
	border: 1px solid #ccc;
    border-radius: 4px;
    right: 25px;
    position: relative;
    padding: 2px 10px 6px 0px;
}
.right-section span
{
	padding-right: 10px;
	font-family: 'SansPro-R';
}
#heart1
{
	width: 15px;
    top: 1px;
    position: relative;
}
.sorted
{
	border: 1px solid #ccc;
    width: 41%;
    margin-left: 90px;
    padding: 3px 8px 6px 8px;
    border-radius: 4px;
}
.sorted .fa-long-arrow-up
{
	margin-left: 12px;
}
.home-section
{
	width: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.home-size span
{
	font-family: 'SansPro-R';
	display: inline-block;
}
.checkbox label
{
	border: 1px solid #e8e8e8;
   padding: 5px 8px 5px 24px;
    font-family: 'SansPro-L';
    position: relative;
    display: inline-block;
}
.selecttion
{
	width: 32%;
	height:20%;
	position: relative;
    display: inline-block;
    margin-top: 20px;
}
.selecttion span
{
	position: relative;
    top: 5px;
}

.selection1
{
	width: 29%;
	height:20%;
	position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}
.selection1 span
{
	position: relative;
    top: 7px;
}
.basement-floor
{
	width: 16%;
    margin-left: 28px;
    height: 28%;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.basement-floor span
{
	position: relative;
    top: 7px;
}

.home-size
{
	margin-top: 20px;
}
.para
{
	font-family: 'SansPro-L';
	color: #9c9c9c;
	margin-left: 20px;
	margin-top: 12px;
}

.basement
{
	border: 1px solid #e8e8e8;
    padding: 5px 13px 5px 8px;
    font-family: 'SansPro-L';
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.basement label
{
	padding-left: 10px;
	font-family: 'SansPro-L';
}
.basement input[type=checkbox], input[type=radio]
{
 position: relative;
 top: 2px;
} 
/*.measearment input[type="radio"]
{
	display: none;
}
.measearment input[type="radio"] + label
{
	display:inline-block;
	position: relative;
	margin-right: 10px;
}
.measearment input[type="radio"] + label:before
{
	content: '';
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border:1px solid #ccc!important;
}

.measearment input[type="radio"]:checked + label:after
{
	content: '';
	display: inline-block;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	display: inline-block;
	position: relative;
	background-color:#332785;
	left: 0px;
	top:0px; 
}*/
