footer {
    width: 100%;
     background: #fff;
     padding-bottom:5px;
     margin-top: 20px;
}
.home-footer {
    padding: 2em 1em;
    position: relative;
    display: inline-block;
}
.home-footer span {
    text-align: left;
    padding-left: 2em;
    display: inline-block;
    text-transform: uppercase;
    color: #333c8d!important;
    font-weight: bold;
    font-family: 'SansPro-B';
    font-size: 18px;
}
.home-footer ul {
    list-style-type: none;
    padding-top: 1em;
    position: relative;
}
.home-footer ul {
    list-style-type: none;
    padding-top: 1em;
    position: relative;
}
.home-footer ul li a {
    text-decoration: blink;
    font-family: 'SansPro-R';
    color: #82868D;
}
.last-footer h5 {
    padding-left: 1em;
    font-size: 1.4em;
    color: #333c8d;
    text-transform: uppercase;
    font-family: 'SansPro-SB';
}
.last-footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.last-footer ul li {
    display: inline-block;
    position: relative;
    padding-left: 18px;
}
.last-footer ul li:last-child
{
    padding-top: 10px;
}
.last-footer ul i {
    padding-right: 10px;
}
.last-footer ul li a {
   text-decoration: none;
   color: #82868D;
}
.address {
    padding-top: 3em;
    margin-left: -99px;
}
.address .address-content {
    position: absolute;
    display: inline-flex;
    padding-left: .5em;
    font-family: 'SansPro-R';
}
.address-content span
{
    font-family: 'SansPro-L';
    line-height: 16px;
}
.map
{
	width: 100%;
    height: 140px;
}
.copyright
{
    border:1px solid;
    height: 40px;
    background:#3a3f4c;
    position: relative;
    top: 5px;
}
.copyright span
{
    color: #fff!important;
    position: relative;
    display: inline-block;
     padding: .6em 38em;
     font-family: 'SansPro-L';
}
.footer-aligenment
{
    margin-left: 40px;
}
.homefooter
{
    width: 100%;
    border: 1px solid;
    height: 50px;
    position: absolute;
}


