@media screen and (max-width: 480px)
{
	.header
	{
		height: 4em;
		width: 100%;
		background: #fff!important;
		box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		padding:0px 10px;
	}

	.list
	{
		position: absolute;
		width: 49%;
		display: inline;
		padding-top: 5px;
	}

	.mobile-logo i
	{
		font-size: 16px;
		top: 4px;
		color: #3b2b8d;
		position: relative;
	}

	.list ul
	{
		margin: 0;
		padding-left: 4px;
		padding-top: 5px;
	}
	.list ul li i
	{
		font-size: 16px;
		padding-left: 3px;
		color: #9a92c3;
		position: relative;
		vertical-align: super;
	}

	.list ul li
	{
		float: left;
		list-style-type: none;
		border-radius: 100%;
		border: 1px solid;
		width: 30px;
		margin-left: 4px;
		height: 30px;
		padding: 3px;
		border-color: #332785;
		position: relative;
	}

	.list ul li:first-child
	{
		margin: 0px;
	}

	.list ul li img
	{
		width: 19px;
		padding: 2px 2px 2px 4px;
	}
	.measearment
	{
		width: 100%;
	}
	.measearment label
	{
		display: inline;
    position: relative;
    margin-left: 21px;
	}
	.right-section
	{
		right: 0px;
	}
	.sorted
	{
		width: 59%;
		margin: 0px;
	}
	.form button
	{
		width: 100%;
	}
	.selection1
	{
		width: 100%;
		margin-left: 0px;
	}
	.selecttion
	{
		width: 100%;
		margin-top: 10px;
	}
	.right-section1
	{
		padding: 0px 10px;
		margin-top: 0px;
	}
	.villa-section 
	{
		width: 100%;
		margin-top: 10px;
	}
	.image-section img
     {
     	width: 100%;
     }
     .overlay img
     {
     	width: 20px;
     }
	.second-section {
		margin-top: 0px;
	}


	.home-footer
	{
		width: 100%;
		padding: 0px;
	}
	.basement-floor
	{
		width: 100%;
        margin-left: 0px;
	}
	.address .address-content
	{
		position: relative;
		padding-bottom: 10px;
	}
	.address {
    padding-top: 1em;
    padding-left: 128px;
}
.footer-aligenment
{
	margin-left: 0px;
}
}