.homeleftbar
{
	border:1px solid #ccc;
	margin-top: 25px;
	background: #fff;
	position: relative;
	padding: 10px 15px 10px 15px;
}
.homeleftbar h4
{
	font-family: 'SansPro-B';
    font-size: 1.4em;
    text-transform: uppercase;
    color: #3a2b88;
    text-align: center;
    position: relative;
    display: block;
    padding: 8px 0px;
}
.homeleftbar span
{
	font-family: 'SansPro-B';
    font-size: 1.4em;
    text-transform: uppercase;
    color: #3a2b88;
    text-align: center;
    position: relative;
    display: block;
}
.content
{
	position: relative;
  display: inline-block;
}
.content1
{
  position: relative;
  display: inline-block;
  top: -20px;
}
.content small
{
  font-family: 'SansPro-R';
}
.content1 .content-description1
{
  display: inline-block;
    position: relative;
    width: 52%;
    top: 22px;
}
.content-description1 h5
{
  display: inline-block;
    position:relative;
    font-family: 'SansPro-SB';
    text-transform:uppercase;
    top: 5px;
}
.content-description1 small
{
  font-family: 'SansPro-L';
 font-size: 14px;
}

.content1 img
{
  margin-left: 22px;
}


.content .content-description
{
	display: inline-block;
    position: relative;
    width: 52%;
    top: 22px;
}
.content-description small
{
 font-family: 'SansPro-L';
 font-size: 14px;
}

.content h5
{
	display: inline-block;
    position:relative;
    font-family: 'SansPro-SB';
    text-transform:uppercase;
    top: 5px;
}
.content small
{
	display: inline-block;
    position: relative;
    font-family: 'SansPro-L';

}
.homeleftbar .line
{
	padding-left: 40px;
}
.homeleftbar .line2
{
  float: right;
    right: 73px;
    position: relative;
    top: -9px;
}
.form
{
	margin-bottom: 25px;
}
.form label
{
  text-transform: uppercase;
  padding-left: 2px;
}
.form input
{
  padding: 0px;
}
.input
{
	display: block;
	width: 100%;
	padding: 0px 10px;	
	border:none;
	border-bottom: 1px solid #ccc;
	line-height: 1.42857143;
	-webkit-transition:  ease-in-out .15s;
    -o-transition: ease-in-out .15s;
    transition:  ease-in-out .15s;
}
.input:focus
{
	border-bottom-color:#3a2b88;
  outline: none;
}
.form label
{
	color:#3a2b88;
	font-family: 'SansPro-L';
}

.form button
{
	padding: 10px 110px;
  font-family: 'SansPro-SB';
  text-transform: uppercase;
}
::-webkit-input-placeholder { 
   font-family: 'SansPro-R';
   color: #666666;
   position: relative;
   left: 0px;
}
:-moz-placeholder {
    font-family: 'SansPro-R';
    color: #666666;
   opacity:  1;
}
::-moz-placeholder { 
   font-family: 'SansPro-R';
   color: #666666;
   opacity:  1;
}
:-ms-input-placeholder { 
   font-family: 'SansPro-R';
   color: #666666;
}
input:focus::-webkit-input-placeholder {
   font-family: 'SansPro-L';
}
.last-content img
{
  margin-left:1px;
}