.right-section1
{
	width: 100%;
	margin-top: 25px;
	position: relative;
	display: inline-block;
} 
.villa-section
{
	border:1px solid #ccc;
	position: relative;
	background: #fff;
	width: 95%;
	margin-right: 30px;
	margin-bottom: 15px;
}
.villa-section:hover
{
	border: 1px solid #3a2b88;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	-webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.villa-section small
{
	font-family: 'SansPro-L';
	padding-left: 13px;
}
.villa-section span
{
	font-family: 'SansPro-R';
	margin-left: 2px;
	font-size: 12px;
}

.details
{
	padding: 3px 11px 7px 11px;
	position: relative;
}
.details a
{
	color: #3a2b88;
	text-transform: uppercase;
	font-family: 'SansPro-SB';
}
.image-section
{
	position: relative;
}
.image-section img
{ 
	width: 100%;
}
.active 
{
	border:1px solid #3a2b88;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.overlay
{
	 position:absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
}
.overlay a
{
	background:#33cc66;
	color: #fff;
	position: relative;
	top: 10px;
	left: 10px;
	padding: 5px 10px 5px 2px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'SansPro-R';
}
.overlay img
{
	 float: right;
    display: inline-block;
    right: 13px;
    position: relative;
    top: 10px;
    width:30px;
}
.second-section
{
   margin-top:70px;
}

.floor-image-detail
{
	margin:0;
	padding: 0;
	display: inline-block;
	position: relative;
}
.floor-image-detail li
{
	list-style-type: none;
	float: left;
	width: 33%;
}

